---
layout: default
title: Photo Gallery
description: ""
parent: Projects
class: projects
banner: hercules_business_park.jpg
banner-heading: "Working for you, come see what we do!"
banner-cta: ""
location: "Business Park, Hercules California"
---

{% for p in site.data.projects.projects %}
<h3>{{ p.category }}</h3>
<hr>
<div class="row">
  {% for n in p.project %}
  <div class="fourth">
    <h6>{{ n.name }}</h6>
    {% for s in n.slide limit:1 %}
    <span class="modal-button" id="{{ s.slide }}">
      <div class="portfolio-gallery">
        {% if s.img != null %}
        <figure>
          <img class="image-bordered" src="/images/projects/{{ p.slug }}/{{ s.img }}" alt="{{ s.alt }}">
          {% if n.award == true %}
          <img class="award" src="/images/projects/award.png" alt="Award Winning: {{ s.alt }}">
          {% endif %}
        </figure>
        {% endif %}
        {% if s.text != null %}
        <p>{{ s.text }}</p>
        {% endif %}
      </div>
    </span>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endfor %}

{% include end_content.html %}

</section>
<!-- /.portfolio -->

<!-- Artificially end content and container -->
</div>
</div>

{% for p in site.data.projects.projects %}
{% for n in p.project %}
{% for s in n.slide %}
<div class="modal">

  <div id="modal{{ s.slide }}" class="modal-container">
    <div class="modal-close"></div>
    <div id="modal-content">

      <div class="modal-header">
      <h4>{{ p.category }}</h4>
      </div>

      <div class="modal-body">
        {% if s.img != null %}
        <figure>
          <img src="/images/projects/{{ p.slug }}/{{ s.img }}" alt="{{ s.alt }}">
          {% if n.award == true %}
          <img class="award" src="/images/projects/award.png" alt="Award Winning: {{ s.alt }}">
          {% endif %}
          <figcaption>{{ s.title }}</figcaption>
        </figure>
        {% endif %}
        {% if s.text != null %}
        <p>{{ s.text }}</p>
        <figcaption>{{ s.title }}</figcaption>
        {% endif %}
      </div>
      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>
{% endfor %}
{% endfor %}
{% endfor %}
