<span id="colors-anchor" class="h2 jumpTo-anchor">Colors</span>

<div class="right">
  <a class="btn btn-primary" href="colors">Isolate</a>
</div>

<div class="box-column clear">
  <h3>Slab Colors</h3>
    <div class="row clearfix">
      <div class="column fourth">

        <div class="swatch">
          <div class="swatch-color bg-white">
          </div>
          <div class="swatch-info">
          </div>
        </div>

      </div>
      <div class="column fourth">
        <div class="swatch">
          <div class="swatch-color bg-black">
          </div>
          <div class="swatch-info">
          </div>
        </div>
      </div>
      <div class="column fourth">
        <div class="swatch">
          <div class="swatch-color bg-grey">
          </div>
          <div class="swatch-info">
          </div>
        </div>
      </div>
      <div class="column fourth">
        <div class="swatch">
          <div class="swatch-color bg-light-grey">
          </div>
          <div class="swatch-info">
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="column fourth">
        <div class="swatch">
          <div class="swatch-color bg-primary-red">
          </div>
          <div class="swatch-info">
          </div>
        </div>
      </div>
      <div class="column fourth">
        <div class="swatch">
          <div class="swatch-color bg-primary-green">
          </div>
          <div class="swatch-info">
          </div>
        </div>
      </div>
      <div class="column fourth">
        <div class="swatch">
          <div class="swatch-color bg-primary-blue">
          </div>
          <div class="swatch-info">
          </div>
        </div>
      </div>
      <div class="column fourth">
        <div class="swatch">
          <div class="swatch-color bg-primary-brown">
          </div>
          <div class="swatch-info">
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="column fourth">
        <div class="swatch">
          <div class="swatch-color bg-secondary-red">
          </div>
          <div class="swatch-info">
          </div>
        </div>
      </div>
      <div class="column fourth">
        <div class="swatch">
          <div class="swatch-color bg-secondary-green">
          </div>
          <div class="swatch-info">
          </div>
        </div>
      </div>
      <div class="column fourth">
        <div class="swatch">
          <div class="swatch-color bg-secondary-blue">
          </div>
          <div class="swatch-info">
          </div>
        </div>
      </div>
      <div class="column fourth">
        <div class="swatch">
          <div class="swatch-color bg-secondary-brown">
          </div>
          <div class="swatch-info">
          </div>
        </div>
      </div>
    </div>

  <hr>

  <h3>Typography Colors</h3>

  <div class="row clearfix">
    <div class="column fifth">
      <div class="swatch">
        <div class="swatch-color color-text">
        </div>
        <div class="swatch-info">
        </div>
      </div>
    </div>
    <div class="column fifth">
      <div class="swatch">
        <div class="swatch-color color-link">
        </div>
        <div class="swatch-info">
        </div>
      </div>
    </div>
    <div class="column fifth">
      <div class="swatch">
        <div class="swatch-color color-error">
        </div>
        <div class="swatch-info">
        </div>
      </div>
    </div>
    <div class="column fifth">
      <div class="swatch">
        <div class="swatch-color color-info">
        </div>
        <div class="swatch-info">
        </div>
      </div>
    </div>
    <div class="column fifth">
      <div class="swatch">
        <div class="swatch-color color-success">
        </div>
        <div class="swatch-info">
        </div>
      </div>
    </div>
  </div>

</div>
