---
layout: default
title: Company News
description: ""
parent: Blog
class: blog
banner: rampart_range.jpg
banner-heading: "All the News that's Fit to Print"
banner-cta: ""

upcoming_events:
- link: '/images/Fall-Festival-Invite.pdf'
  title: 'Fall Festival'
---

<div class="row">
  <div class="two-thirds">

    <h3>In the News</h3>
    <ul class="vertical lined">
      <li>
        <a class="b" href="http://www.alcc.com/index.php?option=com_content&view=article&id=104:president-s-page&catid=26:peer-to-peer">Presidents Page – ALCC Associated Landscape Contractor of Colorado</a><br>
        WHAT DO YOU SEE?The left turn signal turns yellow, then red. You are not going to make this sequence and will have to wait until the next green turn signal. There are at least two potential responses: frustration at missing the light, or enjoying the fact that you are now first in line
      </li>

      <li>
        <a class="b" href="http://www.lawnandlandscape.com/ll-top-100-webinar-terracare-associates.aspx">Inside the Top 100, #39 – Lawn and Landscape</a><br>
        Dean Murphy shares his insight on how Terracare Associates operates, grows and how he and his team manages the company. It’s an exclusive opportunity for L&amp;L readers look behind the scenes at how one of the largest companies in the landscape and lawn care industry runs.
      </li>

      <li>
        <a class="b" href="http://www.myvirtualpaper.com/doc/110mag/110may14/2014043001/#0">Terracare’s Community Gardens, 110 Magazine</a><br>
        Terracare Associates Vice President Bill Horn and staff, has organized, built and maintained several edible gardens at five local schools.  The most recent school involved coordination with the faculty and students at O’Hara park middle school in Oakely, California to create a learning garden for students and teachers to use throughout the year.
      </li>

      <li>
        <a class="b" href="http://myterracare.net/employees/certification/2014/05/02/ty-wilson.html">Ty Wilson, Achieves Landscape Industry certified status, Sacramento Bee</a><br>
        PLANET, the national landscape industry trade association, announces that Ty Wilson, Branch Manager at Terracare Associates in Elk Grove, CA has earned the Landscape Industry Certified Technician designation and is now nationally certified.  The achievement of the Landscape Industry Certified designation demonstrates a distinguished level of professionalism.  Only a select few, approximately 1% of landscape professionals working in the United States today, are certified
      </li>

      <li>
        <a class="b" href="http://www.bizjournals.com/denver/potmsearch/detail/submission/2410721/Dean_Murphy">People on the Move – Dean Murphy, Denver Business Journal</a><br>
        Dean Murphy appointed as the 2014 President to the board of Associated Landscape Contractors of Colorado.    Dean Murphy is current President of Terracare Associates a leading outdoor maintenance company in Western United States.
      </li>
    </ul>

    <!-- Suggested Reading sidebar addition -->
    {% if page.upcoming_events != null %}
    <hr>

    <h4>Upcoming Events</h4>

    <ul class="vertical lined">
      {% for plug in page.upcoming_events %}
      <li>
        <a href="{{ plug.link }}"><i class="fa fa-calendar"></i> {{ plug.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

  </div>

  <div class="third">
    <h3>Signup for Our Newsletter</h3>
    <div class="cta-container">
      <form action="//forms.brace.io/web@myterracare.com" method="POST">
        <input type="hidden" name="form" value="Newsletter Signup">
        <!-- Email Address -->
        <div class="row">
          <div class="formitem email">
            <label for="email" class="required">Email Address:</label>
            <input id="email" type="email" name="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" autocomplete="email" placeholder="milk@cereal.com" required>
          </div>
        </div>
        <!-- .Email Address -->

        <!-- Form Housekeeping -->
        <input type="hidden" name="_next" value="http://myterracare.net/thank-you/" />
        <input type="text" name="_gotcha" style="display:none">
        <!-- .Form Housekeeping -->

        <div class="formitem">
          <button class="btn btn-primary" type="submit" name="submit" value="submit">
            <span>Subscribe</span>
          </button>
        </div>
      </form>
    </div>

    <hr>

    <h5>Social Media</h5>

    <div class="twitter">
      {% include twitter.html %}
    </div>

  </div>
</div>

<!-- Artificially end content and container -->
</div>
</div>

<!-- Modal Popup -->
<div class="modal">

  <div id="signUp" class="modal-container">
    <div class="modal-close"></div>
    <div id="modal-content">

      <div class="modal-close"></div>
      <div class="modal-header">
        <span class="h4">Sign-Up for our Newsletter</span><br>
      </div>

      <div class="modal-body">
        <h5>
          SignUp for Our Newsletter
        </h5>
        <form action="//forms.brace.io/web@myterracare.com" method="POST">
          <input type="hidden" name="form" value="Newsletter Signup">
          <!-- Email Address -->
          <div class="row">
            <div class="formitem email">
              <label for="email" class="required">Email Address:</label>
              <input id="email" type="email" name="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" autocomplete="email" placeholder="milk@cereal.com" required>
            </div>
          </div>
          <!-- .Email Address -->

          <!-- Form Housekeeping -->
          <input type="hidden" name="_next" value="http://myterracare.net/thank-you/" />
          <input type="text" name="_gotcha" style="display:none">
          <!-- .Form Housekeeping -->

          <div class="formitem">
            <button class="btn btn-primary" type="submit" name="submit" value="submit">
              <span>Subscribe</span>
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="modal-footer">

    </div>

  </div>
</div>
</div>
<!-- ./ Modal Popup -->
