---
layout: default
title: Water Management
description: "Landscape irrigation accounts for more than 7 billion gallons of potable water daily nationwide. Contrasted against today’s growing population, our sources of water remain the same as they did hundreds of years ago."
parent: Responsibility
sidebar: Landscape Water Conservation Experts
class: landscape
banner: drop_flowers.jpg
banner-heading: ""
banner-cta: ""

relevant_links:
- link: '/water/2014/06/10/stormwater-management.html'
  title: 'Stormwater Management'
- link: '/certification/2014/05/02/water-management-1.html'
  title: 'Commercial Landscape: Five Steps to Maximize Water Efficiency'
- link: '/certification/2014/06/10/water-management-2.html'
  title: 'Design your Water Management Plan:  It’s Time!'
---

<div class="row">
  <div class="two-thirds">
    <h3 class="lede">We partner with our customers to protect our earth’s most precious resources. Water conservation and clean water runoff is beyond a practice, it’s a responsibility.</h3>

    <p>We believe industry leaders must walk the talk and practice water conservation and protection every day.  As a company, we have committed to this since 1985. Our approach incorporates the latest water conservation technologies and established industry guidelines to identify problem areas within a customer’s irrigation and landscape systems in addition to erosion, storm water runoff and aquatic management.  We recommend system efficiency and improvements to reduce water usage and protect our streams and lakes from contaminates</p>

    <p><strong>Water Management Planning</strong> - We can help you create a water management plan, installations and maintenance to provide a strategy for conserving precious water and reducing costs.  TCA’s customers have saved thousands of dollars through a commitment and partnership to manage water usage and implement best practices in water management.</p>

    <p><strong>Technology and Certified</strong> - Our trained and certified irrigation technicians will evaluate your irrigation system, recommend and install changes to maximize system efficiency and reduce landscape water use. Changes can range from installing a “smart controller”, converting overhead spray heads to drip and changing out other sprinkler equipment can save 30% or more of your water use in an average year.</p>

    <p>Start your landscape water management plan today!</p>

    <hr>

<!--       <h5>See Terracare Associates Water Management Case Studies:</h5>
-->
<a id="1" class="btn btn-primary modal-button">See Terracare Associates Water Management Case Studies</a>

    </div>
    <div class="third">
      {% include sidebar.html %}

      <hr>

      <div class="videoWrapper">
        <iframe width="560" height="315" src="//www.youtube.com/embed/g2yVhPv0MZQ" frameborder="0" allowfullscreen></iframe>
      </div>

      <hr>

      <a class="cta full" href="/attend-a-seminar">Water Management Seminar</a>

    </div>
  </div>

  <!-- Artificially end content and container -->
</div>
</div>

<!-- Modal Popup -->
<div class="modal">

  <div id="modal1" class="modal-container">
    <div id="modal-content">

      <div class="modal-close"></div>
      <div class="modal-header">
        <span class="h4">Water Management Case Studies</span><br>
      </div>
      <div class="modal-body">
        <ul class="vertical lined">
          {% for project in site.data.projects.irrigation %}
          <li>
            <div class="project-gallery card">
              <h5>{{ project.title }}</h5>
              <ul>
                <li>
                  <strong>Specifications:</strong>{{ project.specs }}
                </li>
                <li>
                  <strong>Date:</strong>{{ project.date }}
                </li>
                <li>
                  <strong>Project:</strong>{{ project.scope }}
                </li>
                <li>
                  <strong>Result:</strong>{{ project.result }}
                </li>
              </ul>
            </div>
            {% endfor %}
          </li>
        </div>
      </ul>
    </div>
  </div>
  <!-- ./ Modal Popup -->
