// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Base Theme -- Version: 0.4.0 - Compiled: #{timestamp()}
    ========================================================================== */

    body {
      background: url(/terracare/images/bg.png) center top repeat;
      background-attachment: fixed;

      &.sticky-footer {
        margin-bottom: 80px;

        @include bp(bp-medium) {
          margin-bottom: 110px;
        }
        @include bp(bp-small) {
          margin-bottom: 150px;
        }
      }
    }

    .banner {
      background: $color-secondary-green;
      color: $color-white;

      @include bp(bp-large) {
        @include padding(1em);
      }

      a.logo {
        &:hover {
          border-bottom: none;
          color: inherit;
        }

        .h3 {
          color: $color-white;
        }

        .thin {
          font-weight: 100;
        }
      }
    }

    .teams .bio li {
      position: relative;
      padding-left: 5.5em;

      img {
        position: absolute;
        left: 0;
        top: 1em;
      }
    }

    .fixed-footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      @include padding(1em, 0);
      background: $color-primary-blue;
      color: $color-white;
    }

    footer {
      @include padding(1em, 0);
      @include rgba($color-black, .05);

      .row  {
        vertical-align: middle;
      }

      .social {
        @include bp(bp-large) {
          text-align: right;
        }
      }

      .fa {
        color: $color-light-grey;
        @include transition(color, .2s, ease);
      }
      .fa-linkedin-square:hover {
        color: #0065aa;
      }

      .fa-youtube-square:hover {
        color: #db1117;
      }

      .fa-facebook-square:hover {
        color: #3b5998;
      }

      .fa-twitter-square:hover {
        color: #1c96db;
      }

      @include bp(bp-medium) {
        text-align: center;
      }
    }

    .breadcrumbs {
      @include padding(.5em, 0);
      background: #313131;
      color: $color-light-grey;
    }

    .anchor {
      @include margin(1em, 0, 0);
      @include padding(.75em, 0);
      @include rgba(#333, .9);
      color: $color-white;

      .third {
        text-align: center;
      }

      a.cta {
        @include box-shadow(inset 0 0 0 2px $color-light-grey);
        color: $color-light-grey;

        &:hover {
          @include box-shadow(inset 0 0 0 2px $color-white);
          color: $color-white;
        }
      }
    }
