// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Base Theme -- Version: 0.4.0 - Compiled: #{timestamp()}
    ========================================================================== */

    body {
      @include background-gradient($color-white, lighten(#cee5f8, 9%));
      background-attachment: fixed;
    }

    .banner {
      background: $color-primary-green;
      color: $color-white;

      a.logo {
        &:hover {
          border-bottom: none;
          color: inherit;
        }

        .h3 {
          color: $color-white;
        }
      }
    }

    footer.container {
     @include margin($margin, auto);
   }
