// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Base Theme -- Version: 0.4.0 - Compiled: #{timestamp()}
    ========================================================================== */

    body {
      background: url(/terracare/images/bg.png) center top repeat;
      background-attachment: fixed;
    }

    .banner {
      background: $color-primary-green;
      color: $color-white;

      a.logo {
        &:hover {
          border-bottom: none;
          color: inherit;
        }

        .h3 {
          color: $color-white;
        }
      }
    }

    footer.container {
     @include margin($margin, auto);

    .social {
      @include bp(bp-large) {
        text-align: right;
      }
    }

    .fa {
      color: $color-light-grey;
      @include transition(color, .2s, ease);
    }
    .fa-linkedin-square:hover {
      color: #0065aa;
    }

    .fa-youtube-square:hover {
      color: #db1117;
    }

    .fa-facebook-square:hover {
      color: #3b5998;
    }

    .fa-twitter-square:hover {
      color: #1c96db;
    }

    @include bp(bp-medium) {
      text-align: center;
    }
  }
