// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Nav Theme -- Version: 0.4.0 - Compiled: #{timestamp()}
    ========================================================================== */

    nav {
      .container {
        display: table;
        width: 100%;
      }

      ul {
        display: table-row;
        width: 100%;
        z-index: 9999;

        li {
          display: table-cell;
          width: (100% / $nav-items);

          @include bp(bp-large) {
            &:hover ul {
              position: absolute;
              display: block;
              width: auto;

              li {
                display: block;
                min-width: 10.5em;
                @include padding;

                a {
                  display: block;
                  width: 100%;
                  @include padding(.25em);
                  background: $color-white;

                  &:hover {
                    background: whitesmoke;
                  }
                }
              }
            }
          }

          &:hover {
            background: whitesmoke;
          }

          a {
            display: table-cell;
            @include padding(.25em);
            font-weight: 200;
            vertical-align: middle;
          }

          @include bp(bp-medium) {
            display: block;
            width: 100%;

            &:hover ul {
              display: none;
            }

            ul.hidden {
              display: block;

              li {
                padding-left: 1em;
              }
            }
          }
        }

        @include bp(bp-medium) {
          position: static;
          display: none;
        }
      }

      .show-menu {
        display: none;
        @include padding($padding / 2, 0);
        @include bp(bp-medium) {
          display:block;
        }
      }

      input[type=checkbox]{
        display: none;
      }

      input[type=checkbox]:checked ~ .navigation {
        display: block;
        background: white;
      }
    }
