/* ==========================================================================
    Base -- Version: 0.2.1- Compiled: timestamp()
   ========================================================================== */
/* ==========================
	  Reset
   ========================== */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ul, li, fieldset, form, label, legend, table, caption, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border: 0;
  background: transparent;
  list-style: none outside none;
  vertical-align: baseline;
}

html {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif, Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: #454545;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
input,
select,
textarea {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.443;
  letter-spacing: .035em;
}

.ie body[style] {
  font-size: 16px !important;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* ==========================================================================
    Base Theme -- Version: 0.4.0 - Compiled: timestamp()
    ========================================================================== */
body {
  background: url(/images/bg.png) center top repeat;
  background-attachment: fixed;
}
body.sticky-footer {
  margin-bottom: 80px;
}
@media (max-width: 62em) {
  body.sticky-footer {
    margin-bottom: 110px;
  }
}
@media (max-width: 40em) {
  body.sticky-footer {
    margin-bottom: 150px;
  }
}

.banner {
  background: #fff;
}
@media (min-width: 62em) {
  .banner {
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
  }
}
.banner a.logo {
  color: #4a7817;
  line-height: .75;
}
.banner a.logo:hover {
  border-bottom: none;
  color: inherit;
}
.banner a.logo .light {
  font-weight: 100;
  letter-spacing: .09em;
  color: #454545;
}
.banner a.logo img {
  float: left;
  height: 77px;
}
@media (max-width: 62em) {
  .banner a.logo img {
    float: none;
    padding-top: .5em;
  }
}
.banner a.light {
  font-weight: 100;
  letter-spacing: .09em;
  color: #454545;
}
.banner a.light:hover {
  color: #5b3821;
}
@media (max-width: 40em) {
  .banner-ctas {
    margin-top: 2em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
  }
  .banner-ctas .text-right {
    text-align: center;
  }
}
.banner .form-ctas {
  margin-top: 2em;
}
.banner .form-ctas a {
  color: #000;
  font-weight: bold;
}
@media (max-width: 40em) {
  .banner .form-ctas {
    float: none;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1em;
    margin-left: 0;
  }
}
.banner .tca-icon {
  float: right;
}
@media (max-width: 62em) {
  .banner .tca-icon {
    float: none;
  }
}

.teams .job-title {
  font-weight: bold;
}
.teams .bio {
  position: relative;
  padding: 0 0 0 5.5em;
}
.teams .bio img {
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: 1em;
}
.teams .bio .education {
  font-style: italic;
}

a.modal-button {
  text-align: center;
}
a.modal-button img {
  display: block;
  margin: 0 auto;
}

.fixed-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-top: 1em;
  padding-right: 0;
  padding-bottom: 1em;
  padding-left: 0;
  background: #0b4d42;
  color: #fff;
}

footer {
  padding-top: 1em;
  padding-right: 0;
  padding-bottom: 1em;
  padding-left: 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 2em 2em -2em rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 2em 2em -2em rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2em 2em -2em rgba(0, 0, 0, 0.15);
}
footer .row {
  vertical-align: middle;
}
footer a {
  color: #454545;
  font-weight: 200;
}
@media (min-width: 62em) {
  footer .social {
    text-align: right;
  }
}
footer .fa {
  color: #ccc;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
footer .fa-linkedin-square:hover {
  color: #0065aa;
}
footer .fa-youtube-square:hover {
  color: #db1117;
}
footer .fa-facebook-square:hover {
  color: #3b5998;
}
footer .fa-twitter-square:hover {
  color: #1c96db;
}
footer .fa-envelope-square:hover {
  color: #454545;
}
@media (max-width: 62em) {
  footer {
    text-align: center;
  }
}
.ie footer {
  background-color: #ddd;
}
footer .footer-ctas {
  display: block;
  width: 100%;
  text-align: center;
}

.breadcrumbs {
  padding-top: 0.5em;
  padding-right: 0;
  padding-bottom: 0.5em;
  padding-left: 0;
  background: #313131;
  color: #ccc;
}

.anchor {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0.75em;
  padding-right: 0;
  padding-bottom: 0.75em;
  padding-left: 0;
  background-color: #333;
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
}
.anchor .third {
  text-align: center;
}
.anchor a.cta {
  -webkit-box-shadow: inset 0 0 0 2px #ccc;
  -moz-box-shadow: inset 0 0 0 2px #ccc;
  box-shadow: inset 0 0 0 2px #ccc;
  color: #ccc;
}
.anchor a.cta:hover {
  -webkit-box-shadow: inset 0 0 0 2px #fff;
  -moz-box-shadow: inset 0 0 0 2px #fff;
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
}

.leaf-icon {
  height: 75px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(45), M12=-sin(45), M21=sin(45), M22=cos(45))";
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(45), M12=-sin(45), M21=sin(45), M22=cos(45));
  zoom: 1;
}

.excitement {
  position: relative;
  z-index: 0;
}
.excitement .image-row {
  padding-top: 5em;
}
.excitement .image-row img {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease-in-out;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
  filter: gray;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer;
}
.excitement .image-row img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease-in-out;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
.excitement .leadership-reveal {
  max-width: 600px;
  margin: 0 auto;
}
.excitement .leadership-hide {
  display: none;
}

.social-feed {
  height: 222px;
  overflow: hidden;
}

.home .content {
  padding-top: 1em;
}

.homepage-pseudo-footer {
  padding-top: 2em;
  padding-right: 0;
  padding-bottom: 1em;
  padding-left: 0;
  background-color: #325008;
  background-color: rgba(50, 80, 8, 0.35);
}
.homepage-pseudo-footer h5 {
  margin-bottom: 0;
  padding-bottom: .5em;
  background-color: #fff;
}
.homepage-pseudo-footer .social-feed {
  padding-top: 0;
  padding-right: 1em;
  padding-bottom: 0;
  padding-left: 1em;
  background-color: #fff;
}

.phone {
  padding-top: 1em;
  padding-right: 0;
  padding-bottom: 1em;
  padding-left: 0;
}

footer .logos {
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
footer .logos * {
  vertical-align: middle;
}

/*# sourceMappingURL=base.css.map */
