/* ==========================================================================
    Base -- Version: 0.2.1- Compiled: timestamp()
   ========================================================================== */
/* ==========================
	  Reset
   ========================== */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ul, li, fieldset, form, label, legend, table, caption, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border: 0;
  background: transparent;
  list-style: none outside none;
  vertical-align: baseline;
}

html {
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  font-size: 10px;
  color: #454545;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
input,
select,
textarea {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.443;
  letter-spacing: .035em;
}

.ie body[style] {
  font-size: 16px !important;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* ==========================================================================
    Base Theme -- Version: 0.4.0 - Compiled: timestamp()
    ========================================================================== */
body {
  background: url(/terracare/images/bg.png) center top repeat;
  background-attachment: fixed;
}

.banner {
  background: #21660f;
  color: white;
}
.banner a.logo:hover {
  border-bottom: none;
  color: inherit;
}
.banner a.logo .h3 {
  color: white;
}

footer.container {
  margin-top: 1em;
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;
}
@media (min-width: 68.75em) {
  footer.container .social {
    text-align: right;
  }
}
footer.container .fa {
  color: #cccccc;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
footer.container .fa-linkedin-square:hover {
  color: #0065aa;
}
footer.container .fa-youtube-square:hover {
  color: #db1117;
}
footer.container .fa-facebook-square:hover {
  color: #3b5998;
}
footer.container .fa-twitter-square:hover {
  color: #1c96db;
}
@media (max-width: 62em) {
  footer.container {
    text-align: center;
  }
}
