/* ==========================================================================
    Blog -- Version: 0.2.1 - Compiled: timestamp()
    ========================================================================== */
.blog .blog-cap {
  position: relative;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  -webkit-box-shadow: 0 0 40px rgba(204, 204, 204, 0.6);
  -moz-box-shadow: 0 0 40px rgba(204, 204, 204, 0.6);
  box-shadow: 0 0 40px rgba(204, 204, 204, 0.6);
  background-color: white;
}
.blog .blog-cap:before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.75em;
  border-color: white transparent transparent transparent;
  border-style: solid;
  border-width: .75em;
  z-index: 99999;
}
.blog .blog-content {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  background-color: #f9f9f9;
}
