/* ==========================================================================
    Call-Outs -- Version: 0.2.1 - Compiled: timestamp()
    ========================================================================== */
.callouts {
  position: relative;
  margin-top: -3.5em;
}
@media (max-width: 40em) {
  .callouts {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
.callouts a {
  color: #454545;
}
.callouts .callout {
  background-color: white;
  padding-top: 0.75em;
  padding-right: 0.75em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.callouts .callout:hover {
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}
@media (max-width: 40em) {
  .callouts .callout:hover {
    padding-top: 0.75em;
    padding-right: 0.75em;
    padding-bottom: 0.5em;
    padding-left: 0.75em;
  }
}
.callouts .callout h5 {
  text-align: center;
}
@media (max-width: 40em) {
  .callouts .callout-message {
    display: none;
  }
}
