/* ==========================================================================
    Call-Outs -- Version: 0.2.1 - Compiled: timestamp()
    ========================================================================== */
.callouts {
  position: relative;
  margin-top: -3.5em;
}
.callouts a {
  color: #454545;
}
.callouts .callout {
  background: white;
  padding: .5em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}
