/* ==========================================================================
    Colors & Gradients -- Version: 0.4.3 - Compiled: timestamp()
   ========================================================================== */
.bg-white {
  background: white;
}

.bg-black {
  background: black;
}

.bg-grey {
  background: #454545;
}

.bg-light-grey {
  background: #cccccc;
}

.bg-primary-red {
  background: #74111d;
}

.bg-primary-green {
  background: #21660f;
}

.bg-primary-blue {
  background: #0b4d42;
}

.bg-primary-brown {
  background: #793c12;
}

.bg-secondary-red {
  background: #4c060e;
}

.bg-secondary-green {
  background: #58b340;
}

.bg-secondary-blue {
  background: #3ca694;
}

.bg-secondary-brown {
  background: #5b3821;
}

.bg-primary-yellow {
  background: #ffda21;
}

.bg-secondary-yellow {
  background: #ffda21;
}

.text,
.color-text {
  color: #454545;
}

.color-primary-red {
  color: #74111d;
}

.color-secondary-red {
  color: #4c060e;
}

.color-primary-green {
  color: #21660f;
}

.color-secondary-green {
  color: #58b340;
}

.color-primary-blue {
  color: #0b4d42;
}

.color-secondary-blue {
  color: #3ca694;
}

.link,
.color-link {
  color: #21660f;
}

.color-error {
  color: red;
}

.color-info {
  color: #3ca694;
}

.color-success {
  color: #58b340;
}

.color-grey {
  color: #454545;
}

.color-light-grey {
  color: #cccccc;
}

.color-white {
  color: white;
}

.text-muted,
.muted {
  color: #454545;
}

.text-warning,
.text-error {
  color: red;
}

.error,
.is-error {
  background: #ff8080;
  color: red;
}

.text-success {
  color: #58b340;
}

.ie9 .gradient {
  filter: none;
}

.ie9 [class*="gradient"] {
  filter: none;
}
