/* ==========================================================================
    Layout -- Version: 1.9.0.2 - Compiled: timestamp()
    ========================================================================== */
.content {
  position: relative;
  overflow: auto;
  padding-top: 2.5em;
  padding-right: 0;
  padding-bottom: 0.5em;
  padding-left: 0;
  z-index: 0;
}
@media (max-width: 40em) {
  .content {
    padding-top: 1em;
    padding-right: 0;
    padding-bottom: 1em;
    padding-left: 0;
  }
}

.container {
  position: relative;
  display: block;
  max-width: 1024px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 0;
  padding-right: 1em;
  padding-bottom: 0;
  padding-left: 1em;
  overflow: visible;
}

.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}

/* ==========================
    Grid
    ========================== */
.row {
  clear: both;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 100%;
  margin-bottom: 1em;
}
.row:first-child, .row:only-child {
  margin-bottom: 0;
}

.full {
  float: left;
  width: 100%;
  margin-left: 0;
}

.half {
  float: left;
  width: 48.5%;
  margin-left: 3%;
}
.marginless .half {
  float: left;
  width: 50%;
  margin-left: 0;
}
.half:nth-of-type(odd) {
  margin-left: 0;
}
@media (max-width: 40em) {
  .half {
    float: left;
    width: 100%;
    margin-left: 0;
  }
}

.third {
  float: left;
  width: 31.33333%;
  margin-left: 3%;
}
.marginless .third {
  float: left;
  width: 33.33333%;
  margin-left: 0;
}
.third:first-child {
  margin-left: 0;
}
@media (max-width: 62em) {
  .third {
    float: left;
    width: 48.5%;
    margin-left: 3%;
  }
  .third:nth-child(even) {
    margin-left: 0;
  }
}
@media (max-width: 40em) {
  .third {
    float: left;
    width: 100%;
    margin-left: 0;
  }
}

.fourth {
  float: left;
  width: 22.75%;
  margin-left: 3%;
}
.marginless .fourth {
  float: left;
  width: 25%;
  margin-left: 0;
}
.fourth:first-child {
  margin-left: 0;
}
@media (max-width: 62em) {
  .fourth {
    float: left;
    width: 48.5%;
    margin-left: 3%;
  }
  .fourth:nth-child(even) {
    margin-left: 0;
  }
}
@media (max-width: 40em) {
  .fourth {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-left: 0;
  }
}

.fifth {
  float: left;
  width: 17.6%;
  margin-left: 3%;
}
.marginless .fifth {
  float: left;
  width: 20%;
  margin-left: 0;
}
.fifth:first-child {
  margin-left: 0;
}
@media (max-width: 62em) {
  .fifth {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-left: 0;
  }
}

.sixth {
  float: left;
  width: 14.16667%;
  margin-left: 3%;
}
.marginless .sixth {
  float: left;
  width: 16.66667%;
  margin-left: 0;
}
.sixth:first-child {
  margin-left: 0;
}
@media (max-width: 62em) {
  .sixth {
    float: left;
    width: 31.33333%;
    margin-left: 3%;
  }
  .sixth:nth-child(4n) {
    margin-left: 0;
  }
}

.seventh {
  float: left;
  width: 11.71429%;
  margin-left: 3%;
}
.marginless .seventh {
  float: left;
  width: 14.28571%;
  margin-left: 0;
}
.seventh:first-child {
  margin-left: 0;
}
@media (max-width: 62em) {
  .seventh {
    float: left;
    width: 31.33333%;
    margin-left: 3%;
  }
  .marginless .seventh {
    float: left;
    width: 33.33333%;
    margin-left: 0;
  }
  .seventh:nth-child(4n) {
    margin-left: 0;
  }
}

.eighth {
  float: left;
  width: 9.875%;
  margin-left: 3%;
}
.marginless .eighth {
  float: left;
  width: 12.5%;
  margin-left: 0;
}
.eighth:first-child {
  margin-left: 0;
}
@media (max-width: 62em) {
  .eighth {
    float: left;
    width: 22.75%;
    margin-left: 3%;
  }
  .eighth:nth-child(4n) {
    margin-left: 0;
  }
}
@media (max-width: 40em) {
  .eighth {
    float: left;
    width: 48.5%;
    margin-left: 3%;
  }
  .eighth:nth-child(2n) {
    margin-left: 0;
  }
}

.ninth {
  float: left;
  width: 8.44444%;
  margin-left: 3%;
}
.marginless .ninth {
  float: left;
  width: 11.11111%;
  margin-left: 0;
}
.ninth:first-child {
  margin-left: 0;
}
@media (max-width: 62em) {
  .ninth {
    float: left;
    width: 31.33333%;
    margin-left: 3%;
  }
  .ninth:nth-child(3n) {
    margin-left: 0;
  }
}

.tenth {
  float: left;
  width: 7.3%;
  margin-left: 3%;
}
.marginless .tenth {
  float: left;
  width: 10%;
  margin-left: 0;
}
.tenth:first-child {
  margin-left: 0;
}
@media (max-width: 62em) {
  .tenth {
    float: left;
    width: 22.75%;
    margin-left: 3%;
  }
  .tenth:nth-child(4n) {
    margin-left: 0;
  }
}
@media (max-width: 40em) {
  .tenth {
    float: left;
    width: 48.5%;
    margin-left: 3%;
  }
  .tenth:nth-child(2n) {
    margin-left: 0;
  }
}

.eleventh {
  float: left;
  width: 6.36364%;
  margin-left: 3%;
}
.marginless .eleventh {
  float: left;
  width: 9.09091%;
  margin-left: 0;
}
.eleventh:first-child {
  margin-left: 0;
}
@media (max-width: 62em) {
  .eleventh {
    float: left;
    width: 22.75%;
    margin-left: 3%;
  }
  .eleventh:nth-child(4n) {
    margin-left: 0;
  }
}
@media (max-width: 40em) {
  .eleventh {
    float: left;
    width: 48.5%;
    margin-left: 3%;
  }
  .eleventh:nth-child(2n) {
    margin-left: 0;
  }
}

.twelfth {
  float: left;
  width: 5.58333%;
  margin-left: 3%;
}
.marginless .twelfth {
  float: left;
  width: 8.33333%;
  margin-left: 0;
}
.twelfth:first-child {
  margin-left: 0;
}
@media (max-width: 62em) {
  .twelfth {
    float: left;
    width: 14.16667%;
    margin-left: 3%;
  }
  .twelfth:nth-child(6n) {
    margin-left: 0;
  }
}
@media (max-width: 62em) {
  .twelfth {
    float: left;
    width: 31.33333%;
    margin-left: 3%;
  }
  .twelfth:nth-child(3n) {
    margin-left: 0;
  }
}

.golden-long {
  float: left;
  width: 60.65884%;
  margin-left: 3%;
}
.marginless .golden-long {
  float: left;
  width: 61.8047%;
  margin-left: 0;
}
.golden-long:first-child {
  margin-left: 0;
}

.golden-short {
  float: left;
  width: 36.34116%;
  margin-left: 3%;
}
.marginless .golden-short {
  float: left;
  width: 38.1953%;
  margin-left: 0;
}
.golden-short:first-child {
  margin-left: 0;
}

.two-fifths {
  float: left;
  width: 38.2%;
  margin-left: 3%;
}
.marginless .two-fifths {
  float: left;
  width: 40%;
  margin-left: 0;
}
.two-fifths:first-child {
  margin-left: 0;
}
@media (max-width: 62em) {
  .two-fifths {
    float: left;
    width: 100%;
    margin-left: 0;
  }
}

.three-fifths {
  float: left;
  width: 58.8%;
  margin-left: 3%;
}
.marginless .three-fifths {
  float: left;
  width: 60%;
  margin-left: 0;
}
.three-fifths:first-child {
  margin-left: 0;
}
@media (max-width: 62em) {
  .three-fifths {
    float: left;
    width: 100%;
    margin-left: 0;
  }
}

.four-fifths {
  float: left;
  width: 79.4%;
  margin-left: 3%;
}
.marginless .four-fifths {
  float: left;
  width: 80%;
  margin-left: 0;
}
.four-fifths:first-child {
  margin-left: 0;
}
@media (max-width: 62em) {
  .four-fifths {
    float: left;
    width: 100%;
    margin-left: 0;
  }
}

.two-thirds {
  float: left;
  width: 65.66667%;
  margin-left: 3%;
}
.marginless .two-thirds {
  float: left;
  width: 66.66667%;
  margin-left: 0;
}
.two-thirds:first-child {
  margin-left: 0;
}
@media (max-width: 62em) {
  .two-thirds {
    float: left;
    width: 100%;
    margin-left: 0;
  }
}

.three-fourths {
  float: left;
  width: 74.25%;
  margin-left: 3%;
}
.marginless .three-fourths {
  float: left;
  width: 75%;
  margin-left: 0;
}
.three-fourths:first-child {
  margin-left: 0;
}
@media (max-width: 62em) {
  .three-fourths {
    float: left;
    width: 100%;
    margin-left: 0;
  }
}

.three-eighths {
  float: left;
  width: 35.625%;
  margin-left: 3%;
}
.marginless .three-eighths {
  float: left;
  width: 37.5%;
  margin-left: 0;
}
.three-eighths:first-child {
  margin-left: 0;
}
@media (max-width: 62em) {
  .three-eighths {
    float: left;
    width: 100%;
    margin-left: 0;
  }
}

.five-eighths {
  float: left;
  width: 61.375%;
  margin-left: 3%;
}
.marginless .five-eighths {
  float: left;
  width: 62.5%;
  margin-left: 0;
}
.five-eighths:first-child {
  margin-left: 0;
}
@media (max-width: 62em) {
  .five-eighths {
    float: left;
    width: 100%;
    margin-left: 0;
  }
}

/* ==========================
    Multi Column
    ========================== */
[class*='two_column_'] {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em;
}

[class*='three_column_'] {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em;
}

[class*='four_column_'] {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em;
}

/*# sourceMappingURL=layout.css.map */
