/* ==========================================================================
    Message Boxes -- Version: 0.2.1 - Compiled: timestamp()
   ========================================================================== */
.info-box {
  border-left: 0.3em solid #0b4d42;
  background: #6dead5;
  color: #0b4d42;
}

.error-box {
  border-left: 0.3em solid #74111d;
  background: #e96878;
  color: #74111d;
}

.valid-box {
  border-left: 0.3em solid #58b340;
  background: #3ebf1c;
  color: #58b340;
}

[class*='message-'] {
  display: flex;
  align-items: center;
  background: whitesmoke;
  font-weight: 700;
}
[class*='message-']:before {
  display: flex;
  align-items: center;
  font-family: "FontAwesome", Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  font-size: 3.6rem;
  padding: .25em 1em;
}

.message {
  position: relative;
  display: inline-block;
  padding: 1em;
  line-height: 1;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
.message-loading {
  color: #333;
}
.message-loading:before {
  content: '\f013';
  animation: rotation 1.5s infinite linear;
}

.message-warning {
  color: #74111d;
}
.message-warning:before {
  background: #cd1e33;
  content: '\f071';
}

.message-valid {
  color: #58b340;
}
.message-valid:before {
  background: #21660f;
  content: '\f00c';
}
