/* ==========================================================================
    Modules -- Version: 0.4.0 - Compiled: timestamp()
    ========================================================================== */
.box-column {
  margin-top: 0.5em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  overflow: auto;
}

hr {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  border: 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid white;
}
hr.below-desktop {
  display: none;
}
@media (max-width: 62em) {
  hr.below-desktop {
    display: block;
    border: none;
  }
}
@media (max-width: 40em) {
  hr.below-desktop {
    display: block;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid white;
  }
}
hr.blog {
  width: 50%;
  margin-top: 1em;
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;
  border: none;
  text-align: center;
}
hr.blog:after {
  content: '\f141';
  font-family: "FontAwesome", Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  font-size: 4rem;
  color: #cccccc;
}
