/* ==========================================================================
    Nav -- Version: 0.4.0 - Compiled: timestamp()
   ========================================================================== */
/* ==========================================================================
    Nav Theme -- Version: 0.4.0 - Compiled: timestamp()
    ========================================================================== */
nav {
  position: relative;
  margin-bottom: -31px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
nav .container {
  display: table;
  width: 100%;
}
nav ul {
  display: table-row;
  width: 100%;
}
nav ul li {
  position: relative;
  display: table-cell;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
nav ul li:hover {
  background: #21660f;
}
@media (min-width: 62em) {
  nav ul li:hover ul {
    position: absolute;
    display: block;
    left: 0;
  }
  nav ul li:hover ul li {
    display: block;
    min-width: 10.5em;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-bottom: 1px solid rgba(121, 60, 18, 0.15);
  }
  nav ul li:hover ul li.js-last {
    border: none;
  }
  nav ul li:hover ul li a {
    display: block;
    width: 100%;
    padding-top: 0.25em;
    padding-right: 0.75em;
    padding-bottom: 0.25em;
    padding-left: 0.75em;
    background: rgba(121, 60, 18, 0.65);
    color: white;
  }
  nav ul li:hover ul li a:hover {
    background: rgba(33, 102, 15, 0.75);
  }
}
nav ul li a {
  display: block;
  padding-top: 0.25em;
  padding-right: 0.75em;
  padding-bottom: 0.25em;
  padding-left: 0.75em;
  font-weight: 200;
  vertical-align: middle;
  color: white;
}
nav ul li a:hover {
  color: white;
}
nav ul li.active {
  background: #21660f;
}
@media (min-width: 62em) {
  nav ul li.active:before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -.75em;
    border-color: #21660f transparent transparent transparent;
    border-style: solid;
    border-width: .75em;
    z-index: 99;
  }
}
@media (max-width: 62em) {
  nav ul li {
    display: block;
    width: 100%;
  }
  nav ul li:hover ul {
    display: none;
  }
  nav ul li ul.hidden {
    display: block;
  }
  nav ul li ul.hidden li {
    padding-left: 1em;
  }
}
@media (max-width: 62em) {
  nav ul {
    position: static;
    display: none;
  }
}
nav .show-menu {
  display: none;
  padding-top: 0.5em;
  padding-right: 0;
  padding-bottom: 0.5em;
  padding-left: 0;
  color: white;
}
@media (max-width: 62em) {
  nav .show-menu {
    display: block;
  }
}
nav input[type=checkbox] {
  display: none;
}
nav input[type=checkbox]:checked ~ .navigation {
  display: block;
  background: #0b4d42;
}
nav input[type=checkbox]:checked ~ .navigation li {
  border-top: 1px solid #65bf4d;
  background: #1a500c;
}
nav input[type=checkbox]:checked ~ .navigation li:first-child {
  border: none;
}
nav input[type=checkbox]:checked ~ .navigation li li {
  background: #58b340;
}
nav input[type=checkbox]:checked ~ .navigation > li.js-last {
  margin-bottom: .5em;
}
@media (max-width: 62em) {
  nav {
    margin-bottom: -38px;
  }
}
@media (max-width: 40em) {
  .home nav {
    margin-bottom: -47px;
  }
}
