/* ==========================================================================
    Typography -- Version: 1.9.0.1  - Compiled: timestamp()
    ========================================================================== */
@font-face {
  font-family: 'Gotham Thin';
  src: url("fonts/gotham-thin-webfont.eot");
  src: url("fonts/gotham-thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gotham-thin-webfont.woff") format("woff"), url("fonts/gotham-thin-webfont.ttf") format("truetype"), url("fonts/gotham-thin-webfont.svg#2612f69d108fca39cb109c03ae310193") format("svg");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Gotham Book';
  src: url("fonts/gotham-book-webfont.eot");
  src: url("fonts/gotham-book-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gotham-book-webfont.woff") format("woff"), url("fonts/gotham-book-webfont.ttf") format("truetype"), url("fonts/gotham-book-webfont.svg#7510147900d23fa3ad697e74bf146ea2") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Gotham Bold';
  src: url("fonts/gotham-bold-webfont.eot");
  src: url("fonts/gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gotham-bold-webfont.woff") format("woff"), url("fonts/gotham-bold-webfont.ttf") format("truetype"), url("fonts/gotham-bold-webfont.svg#6a327a217ddd10461b1acdc4d224fee0") format("svg");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "FontAwesome";
  src: url("fonts/icons/fontawesome-webfont.eot");
  src: url("fonts/icons/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/icons/fontawesome-webfont.svg#svgFontAwesome") format("svg"), url("fonts/icons/fontawesome-webfont.woff") format("woff"), url("fonts/icons/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.base-font {
  font-family: "Gotham Book", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.base-font-alt {
  font-family: "Gotham Book", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.arial {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.arialBold {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

/* ==========================
	  Body Text
   ========================== */
.lede {
  margin-bottom: 0.5em;
  font-family: "Gotham Book", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  font-size: 2.2rem;
}

.body-text {
  font-size: 16px;
  font-size: 1.6rem;
}

.small-body-text {
  font-size: 12px;
  font-size: 1.2rem;
}

.disclaimer-text {
  font-size: 12px;
  font-size: 1.2rem;
}

/* ==========================
	  Links
   ========================== */
a {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  background: transparent;
  vertical-align: baseline;
  color: #793c12;
  text-decoration: none;
  cursor: pointer;
  transition: .2s;
}
a img {
  border: 0 none;
  text-decoration: none;
}
a:hover {
  color: #5b3821;
}
a[href$='.pdf']:after {
  margin-left: .5em;
  content: '\f1c1';
  font-family: "FontAwesome";
}

/* ==========================
	  Headings
   ========================== */
h1,
.h1 {
  font-family: "Gotham Bold", Arial, sans-serif;
  font-size: 42px;
  font-size: 4.2rem;
  font-weight: 200;
  color: #454545;
}
@media (max-width: 62em) {
  h1,
  .h1 {
    font-size: 36.75px;
    font-size: 3.675rem;
  }
}
@media (max-width: 40em) {
  h1,
  .h1 {
    font-size: 31.5px;
    font-size: 3.15rem;
  }
}

h2,
.h2 {
  font-family: "Gotham Bold", Arial, sans-serif;
  font-size: 36px;
  font-size: 3.6rem;
  font-weight: 200;
  color: #454545;
}
@media (max-width: 62em) {
  h2,
  .h2 {
    font-size: 31.5px;
    font-size: 3.15rem;
  }
}
@media (max-width: 40em) {
  h2,
  .h2 {
    font-size: 27px;
    font-size: 2.7rem;
  }
}

h3,
.h3 {
  font-family: "Gotham Book", Arial, sans-serif;
  font-size: 30px;
  font-size: 3rem;
  font-weight: 700;
  color: #454545;
}
@media (max-width: 62em) {
  h3,
  .h3 {
    font-size: 26.25px;
    font-size: 2.625rem;
  }
}
@media (max-width: 40em) {
  h3,
  .h3 {
    font-size: 22.5px;
    font-size: 2.25rem;
  }
}

h4,
.h4 {
  font-family: "Gotham Book", Arial, sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 200;
}

h5,
.h5 {
  font-family: "Gotham Book", Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700;
}

h6,
.h6 {
  font-family: "Gotham Book", Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 100;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

small {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote {
  clear: inherit;
  margin-bottom: 0.16667em;
  vertical-align: middle;
}

p,
.p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.5em;
  margin-left: 0;
  font-family: "Gotham Book", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  word-wrap: break-word;
}
p:only-child,
.p:only-child {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.b {
  font-weight: 700;
}

.uppercase {
  text-transform: capitalize;
}

blockquote {
  width: calc(100% - 4em);
  margin-top: 1em;
  margin-right: 2em;
  margin-bottom: 1em;
  margin-left: 2em;
  border-left: 3px solid #cccccc;
  color: #454545;
  font-style: italic;
  padding-left: 1em;
}

q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}

abbr {
  border-bottom: 1px dotted #454545;
  cursor: help;
}

address {
  font-style: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: bottom;
}

mark {
  background: #ffff00;
}

/* ==========================
	  Pre
   ========================== */
pre {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  background-color: whitesmoke;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  overflow: auto;
  padding: 1em;
  word-wrap: break-word;
}

kbd,
samp {
  font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: #21660f;
}

.valid,
.is-valid {
  color: #21660f;
}

.code-comment {
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

.fa {
  font-family: "FontAwesome", Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
}
.fa-60 {
  font-size: 60px;
  font-size: 6rem;
}

/* ==========================
    Logo
    ========================== */
.GLG {
  font-family: "NeueHaasGroteskDisp Pro 75", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  letter-spacing: -1px;
}

.logo_slash,
.division {
  font-family: "Gotham Book", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-weight: 200;
}

.division {
  position: relative;
  left: -.1em;
  color: #5f5f5f;
}

.banner .row {
  vertical-align: middle;
}
.banner .logo {
  color: white;
  line-height: 1;
}
@media (max-width: 40em) {
  .banner .logo {
    display: inline-block;
    text-align: center;
  }
}
.banner .logo .light {
  font-family: Gotham Book, Arial, Sans-Serif;
  font-style: 30;
  font-weight: normal;
}
.banner .logo .bold {
  font-family: Gotham Bold, Arial, Sans-Serif;
  font-style: 40;
  font-weight: normal;
}
