<div class="banner">
  <div class="container">

    <div class="row">
      <div class="two-fifths">
        <a class="logo" href="/">
          <img class="left" src="/images/logo/logo.jpg" alt="Terracare Associates Logo">
        </a>
      </div>

      <div class="three-fifths">
        <div class="banner-ctas">
          <div class="left form-ctas">
            <a class="light" href="/request-a-bid">REQUEST A BID</a> | <a class="light" href="/contact-us">CONTACT US</i></a>
          </div>
          <div class="right mobile-hidden">
            <img class="left" src="/images/logo/TCA.jpg" alt="Terracare Associates Icon" style="height: 77px;">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
