<div class="banner">
  <div class="container">

    <div class="row">
      <div class="half">
        <a class="logo" href="/">
          <img src="/images/logo/logo.png" alt="Terracare Associates Logo">
        </a>
      </div>

      <div class="half">
        <div class="banner-ctas">
          <div class="text-right">

            <ul class="horizontal social">
              <li><a href="http://www.linkedin.com/company/terracare-associates" title="Terracare Associates LinkedIn - opens in new tab" target="_blank"><span class="fa fa-linkedin-square fa-2x"></span></a></li>
              <li><a href="http://www.youtube.com/user/terracareassociates" title="Terracare Associates YouTube - opens in new tab" target="_blank"><span class="fa fa-youtube-square fa-2x"></span></a></li>
              <li><a href="http://www.facebook.com/pages/Littleton-CO/Terracare-Associates/204937846201508?sk=wall" title="Terracare Associates Facebook - opens in new tab" target="_blank"><span class="fa fa-facebook-square fa-2x"></span></a></li>
              <li><a href="http://twitter.com/#!/TerracareAssoc" title="Terracare Associates Twitter - opens in new tab" target="_blank"><span class="fa fa-twitter-square fa-2x"></span></a></li>
              <li>
               <!-- Search form -->
               <form action="http://google.com/search" method="get">
                <fieldset role="search">
                  <!-- change the "value" attribute below to point to your site -->
                  <input type="hidden" name="q" value="site:terracareassociates.com"/>
                  <input class="search" type="text" name="q" results="0" placeholder="Search"/>
                </fieldset>
              </form>
            </li>
          </ul>
          <div class="form-ctas">
            <a class="light" href="/about-us/request-a-bid">REQUEST FOR PROPOSAL</a> | <a class="light" href="/contact-us/">CONTACT US</a>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
</div>
