<div class="banner">
  <div class="container">

  <div class="row text-center">
      <div class="two-fifths">
        <a class="logo" href="/">
          <img src="/images/logo/logo.jpg" alt="Terracare Associates Logo">
        </a>
      </div>

      <div class="two-fifths">
        <div class="banner-ctas">
          <div class="form-ctas">
            <a class="light" href="/request-a-bid">REQUEST FOR PROPOSAL</a> | <a class="light" href="/contact-us">CONTACT US</a>
          </div>
        </div>
      </div>
      <div class="fifth">
        <div class="tca-icon">
          <a href="/">
            <img src="/images/logo/TCA.jpg" alt="Terracare Associates Icon" style="height: 77px;">
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
