    <!-- Footer Component -->
    <footer role="contentinfo">
     <div class="container">
        <div class="row">
          <div class="half">
            <span class="small-body-text">&copy;<a href="{{ site.url }}">{{ site.name }}</a> - All Rights Reserved <span id="year" class="getYear">year</span></span>
          </div>
          <div class="half social">
            <ul class="horizontal">
              <li><a href="http://www.linkedin.com/company/terracare-associates" title="Terracare Associates LinkedIn - opens in new tab" target="_blank"><span class="fa fa-linkedin-square fa-2x"></span></a></li>
              <li><a href="http://www.youtube.com/user/terracareassociates" title="Terracare Associates YouTube - opens in new tab" target="_blank"><span class="fa fa-youtube-square fa-2x"></span></a></li>
              <li><a href="http://www.facebook.com/pages/Littleton-CO/Terracare-Associates/204937846201508?sk=wall" title="Terracare Associates Facebook - opens in new tab" target="_blank"><span class="fa fa-facebook-square fa-2x"></span></a></li>
              <li><a href="http://twitter.com/#!/TerracareAssoc" title="Terracare Associates Twitter - opens in new tab" target="_blank"><span class="fa fa-twitter-square fa-2x"></span></a></li>
              <li><a href="{{ site.baseurl }}/contact-us" title="Contact Terracare Associates"><span class="fa fa-envelope-square fa-2x"></span></a></li>
            </ul>
          </div>
        </div>
      </div>

    </footer>
    <!-- ./Footer Component -->
