    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ site.baseurl }}/js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
    <script src="{{ site.baseurl }}/js/vendor/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="{{ site.baseurl }}/js/global_init.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/respond.min.js"></script>
    <script src="{{ site.baseurl }}/js/build/production.min.js"></script>
    <script src="{{ site.baseurl }}/slick/slick.min.js"></script>

    <script>
      $(document).ready(function() {
        $('.slick-carousel').slick({
          dots: true,
          infinite: true,
          slidesToShow: 3,
          slidesToScroll: 3,
          responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              infinite: true,
              dots: true
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 640,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
          ]
        });
      });
    </script>

    {% include google_analytics.html %}
  </body>
  </html>
