<nav class="nav-primary" role="navigation" >
	<div class="container">

    <label for="show-menu" class="show-menu"><i class="fa fa-bars fa-2x"></i> Menu</label>
    <input type="checkbox" id="show-menu" role="button">

		<ul class="navigation">
      <li>
        <a href="/public=services">Public Services</a>
        <ul class="hidden">
          <li><a href="#">lorem</a></li>
          <li><a href="#">ipsum</a></li>
        </ul>
      </li>
      <li>
        <a href="/commercial-services">Commercial Services</a>
        <ul class="hidden">
          <li><a href="#">lorem</a></li>
          <li><a href="#">ipsum</a></li>
          <li><a href="#">dolor</a></li>
        </ul>
      </li>
      <li>
        <a href="/resposibility">Responsibility</a>
        <ul class="hidden">
          <li><a href="">Safety</a></li>
          <li><a href="">Water Management</a></li>
          <li><a href="">Sustainability Policy</a></li>
          <li><a href="">Community Investment</a></li>
        </ul>
      </li>
      <li><a href="/about-us">About Us</a></li>
      <li><a href="/blog">Blog / News</a></li>
      <li><a href="Careers">Careers</a></li>
    </ul>
  </div>
</nav>
