{% assign current = page.url | downcase | split: '/' %}
<nav class="nav-primary" role="navigation" >
	<div class="container">

    <label for="show-menu" class="show-menu"><i class="fa fa-bars fa-2x"></i> Menu</label>
    <input type="checkbox" id="show-menu" role="button">

		<ul class="navigation">
      <li {% if current[1] == 'public-services' %}class='active'{% endif %}>
        <a href="/terracare/public-services">Public Services</a>
        <ul class="hidden">
          <li><a href="">Landscape Maintenance</a></li>
          <li><a href="">Infrastructure (Public works)</a></li>
          <li><a href="">Lake Maintenance</a></li>
          <li><a href="">Snow Removal</a></li>
        </ul>
      </li>
      <li {% if current[1] == 'commercial-services' %}class='active'{% endif %}>
        <a href="/terracare/commercial-services">Commercial Services</a>
        <ul class="hidden">
          <li><a href="">Landscape Maintenance</a></li>
          <li><a href="">Lake Maintenance</a></li>
          <li><a href="">Snow Removal</a></li>
        </ul>
      </li>
      <li {% if current[1] == 'responsibility' %}class='active'{% endif %}>
        <a href="/terracare/responsibility">Responsibility</a>
        <ul class="hidden">
          <li><a href="">Safety</a></li>
          <li><a href="">Water Management</a></li>
          <li><a href="">Sustainability Policy</a></li>
          <li><a href="">Community Investment</a></li>
        </ul>
      </li>
      <li {% if current[1] == 'about-us' %}class='active'{% endif %}>
        <a href="/terracare/about-us">About Us</a>
        <ul class="hidden">
          <li><a href="">Teams</a></li>
          <li><a href="/terracare/about-us/locations">Locations</a></li>
          <li><a href="">Awards & Testimonials</a></li>
        </ul>
      </li>
      <li {% if current[1] == 'blog' %}class='active'{% endif %}><a href="/terracare/blog">Blog / News</a></li>
      <li {% if current[1] == 'careers' %}class='active'{% endif %}><a href="/terracare/careers">Careers</a></li>
    </ul>
  </div>
</nav>
