{% assign current = page.url | split: '/' %}
<nav class="nav-primary" role="navigation" >
	<div class="container">

    <label for="show-menu" class="show-menu"><i class="fa fa-bars"></i> Menu</label>
    <input type="checkbox" id="show-menu" role="button">

    <ul class="navigation">
      {% for nav in site.data.nav %}
      {% if nav.child_links %}
      {% if nav.name == page.parent %}
      <li class="active">
        {% else %}
        <li>
          {% endif %}
          <a href="{{ nav.url }}" class="text-center">{{ nav.name }}</a>
          <ul class="hidden">
            {% for child_link in nav.child_links %}
              {% if nav.name == 'Blog / News' %}
              <li>
                <a href="/blog{{ child_link.url }}">{{ child_link.name }}</a>
              </li>
              {% else %}
              <li>
                <a href="{{ nav.url }}{{ child_link.url }}">{{ child_link.name }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
        {% elsif nav.name == page.parent %}
        <li class="active">
          <a href="{{ nav.url }}" class="text-center">{{ nav.name }}</a>
        </li>
        {% else %}
        <li>
          <a href="{{ nav.url }}" class="text-center">{{ nav.name }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
