<div class="cta-container">
  <a class="btn btn-primary full" href="/projects/{{ page.project }}">Project Gallery <i class="fa fa-chevron-right"></i></a>
  <br><br>
  <a class="btn btn-primary full" href="/contact-us">More Information <i class="fa fa-chevron-right"></i></a>
</div>

<h2>{% if page.sidebar != null %}{{ page.sidebar }}{% else %}{{ page.parent }}{% endif %}</h2>

<ul class="vertical lined">
  {% for nav in site.data.nav %}
  {% if nav.name == page.parent %}
  {% for child_link in nav.child_links %}

  <li>
    <a href="{{ nav.url }}{{ child_link.url }}">{{ child_link.name }}</a>
  </li>

  {% endfor %}
  {% endif %}
  {% endfor %}
</ul>
