    <!-- Sticky-Footer Component -->
    <div class="sticky">
      <div class="container">

        <div class="row">
          <div class="two-thirds">
          <span class="h3">{{ page.sticky-footer }}</span>
          </div>
          <div class="third">
            <a class="cta mobile-full right" href="{{ site.baseurl }}/{{ page.sticky-footer-cta-url }}">{{ page.sticky-footer-cta }} <i class="fa fa-dot-circle-o"></i></a>
          </div>
        </div>

      </div>
    </div>
    <!-- ./Sticky-Footer Component -->
