// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Blog -- Version: 0.2.1 - Compiled: #{timestamp()}
    ========================================================================== */

    .blog {
      .blog-cap {
        position: relative;
        @include padding(1em);
        @include box-shadow(0 0 40px rgba($color-light-grey,.6));
        background-color: $color-white;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 100%;
          left: 50%;
          width: 0;
          height: 0;
          margin-left: -.75em;
          border-color: $color-white transparent transparent transparent;
          border-style: solid;
          border-width: .75em;
          z-index: 99999;
        }
      }

      .blog-content {
        @include padding(1em);
        background-color: #f9f9f9;
      }
    }
