// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Buttons -- Version: 0.4.2 - Compiled: #{timestamp()}
    ========================================================================== */

    .btn,
    .button,
    button,
    .cta {
      @include inline-block();
      min-width: 3em;
      @include margin;
      @include padding(.375em, $padding);
      @include border-radius;
      border: 0;
      background: none;
      @include font-size($base-font-size);
      font-family: $base-font;
      font-weight: 700;
      text-align: center;
      color: $link;
      cursor: pointer;

      &:hover {
        background-color: darken($color-off-white, 5%);
      }

      &:focus {
        background-color: darken($color-off-white, 20%);
        background-image: 0;
        outline: none;
      }

      &.btn-primary,
      &.button-primary {
        border-bottom: 3px solid darken($color-button-primary, 7.5%);
        background-color: $color-button-primary;
        color: $color-white;

        &:hover {
          border-bottom: 3px solid $color-button-primary-hover;
          background-color: $color-button-primary-hover;
        }
      }

      &.btn-error {
        background-color: $color-primary-red;
        color: $color-white;

        &:hover {
          background-color: lighten($color-primary-red, 25%);
        }
      }

      &.btn-success {
        background-color: $color-secondary-green;
        color: $color-white;

        &:hover {
          background-color: $color-primary-green;
        }
      }

      &.btn-info {
        background-color: $color-primary-blue;
        color: $color-white;

        &:hover {
          background-color: lighten($color-primary-blue, 20%);
        }
      }

      &.btn-black {
        background-color: $color-black;
        color: $color-white;

        &:hover {
          background-color: $color-grey;
        }
      }

      &:disabled,
      &.js-disabled,
      &.disabled {
        cursor: default;
        background-color: $color-light-grey;
        color: $text-grey;

        &:hover,
        &:active {
          background-color: $color-light-grey;
          color: $text-grey;
        }
      }

      &.block {
        display: block;
        width: 100%;
        text-align: center;
      }

      &.btn-xl {
        @include padding(.75em, ($padding * 2));
      }

      &.btn-lg {
        @include padding(.5em, ($padding * 1.5));
      }

      &.btn-sm {
        min-width: 0;
        @include padding(($padding / 6), ($padding / 1.5));
      }

      @media (max-width: $bp-small) {
        &.mobile-full {
          display: block;
          width: 100%;

          a {
            display: block;
            text-align: center;
          }
        }

      }

      & + & {
        margin-top: $margin;
      }
    }

    .cta {
      @include box-shadow(inset 0 0 0 2px $color-primary-blue);
      color: $color-primary-blue;

      &:hover {
        background-color: none;
        @include box-shadow(inset 0 0 0 2px lighten($color-primary-blue, 10%));
        color: lighten($color-primary-blue, 10%);
      }
    }

    @-webkit-keyframes rotation {
      from { -webkit-transform: rotate(0deg); }
      to { -webkit-transform: rotate(359deg); }
    }

    .progress {
      &:active,
      &.js-active {
        i:before {
          display: inline-block;
          animation: rotation 1.5s infinite linear;
        }
      }
    }

    .cta-container {
      margin-bottom: $margin;
      @include padding($padding);
      border-bottom: 1px solid $color-light-grey;
      background-color: rgba(0,0,0,.2);
      overflow: auto;

      a.btn.btn-primary {
        border-top: 1px solid $color-primary-yellow;
        border-bottom: 3px solid darken($color-primary-yellow, 7.5%);
        background-color: $color-primary-yellow;
        color: $text;

        &:hover {
          border-bottom: 3px solid $color-primary-yellow;
          border-top: 1px solid darken($color-primary-yellow, 7.5%);
          background-color: $color-primary-yellow;
        }
      }
    }

    /* Firefox */

    @-moz-document url-prefix() {
  // Remove button padding in FF
  button::-moz-focus-inner {
    @include padding;
    border: 0 none;
  }

  input {
    &[type="button"]::-moz-focus-inner,
    &[type="submit"]::-moz-focus-inner,
    &[type="reset"]::-moz-focus-inner {
      @include padding;
      border: 0 none;
    }
  }
}

// ie (.ie)
// make buttons play nice in IE
.ie button {
  overflow: visible;
  width: auto;
}
