// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Call-Outs -- Version: 0.2.1 - Compiled: #{timestamp()}
    ========================================================================== */

    .callouts {
      position: relative;
      margin-top: -3.5em;
      z-index: 999;

      @include bp(bp-small) {
        @include margin;
      }

      a {
        color: $text;
      }

      .callout {
        background-color: $color-white;
        @include padding(.75em, .75em, .5em);
        @include border-radius(0);
        @include box-shadow;
        @include transition(all, .2s, ease-in-out);

        &:hover {
          @include padding(.5em);

          @include bp(bp-small) {
            @include padding(.75em, .75em, .5em);
          }
        }

        h5 {
          text-align: center;
        }
      }

      .callout-message {
        @include bp(bp-small) {
          display: none;
        }
      }

      .homepage-pseudo-footer & {
        @include margin;

        .callout {
          box-shadow: none;

          &:hover {
            @include padding(.75em, .75em, .5em);
          }
        }
      }

      .slick-slider {
        margin: 0;
      }
    }
