// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Call-Outs -- Version: 0.2.1 - Compiled: #{timestamp()}
    ========================================================================== */

    .callouts {
      position: relative;
      margin-top: -3.5em;

      a {
        color: $text;
      }

      .callout {
        background-color: $color-white;
        @include padding(.5em);
        @include border-radius(0);
        @include box-shadow;
        @include transition(all, .2s, ease-in-out);

        &:hover {
          -webkit-transfrom: scale(1.015);
          transform: scale(1.015);
        }

        h5 {
          text-align: center;
        }
      }
    }
