// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Colors & Gradients -- Version: 0.4.3 - Compiled: #{timestamp()}
   ========================================================================== */

.bg-white {
  background: $color-white;
}

.bg-black {
  background: $color-black;
}

.bg-grey {
  background: $color-grey;
}

.bg-light-grey {
  background: $color-light-grey;
}

.bg-primary-red {
  background: $color-primary-red;
}

.bg-primary-green {
  background: $color-primary-green;
}

.bg-primary-blue {
  background: $color-primary-blue;
}

.bg-primary-brown {
  background: $color-primary-brown;
}

.bg-secondary-red {
  background: $color-secondary-red;
}

.bg-secondary-green {
  background: $color-secondary-green;
}

.bg-secondary-blue {
  background: $color-secondary-blue;
}

.bg-secondary-brown {
  background: $color-secondary-brown;
}

.bg-primary-yellow {
  background: $color-primary-yellow;
}

.bg-secondary-yellow {
  background: $color-primary-yellow;
}

// Typography Colors

.text,
.color-text {
  color: $text;
}

.color-primary-red {
  color: $color-primary-red;
}

.color-secondary-red {
  color: $color-secondary-red;
}

.color-primary-green {
  color: $color-primary-green;
}

.color-secondary-green {
  color: $color-secondary-green;
}

.color-primary-blue {
  color: $color-primary-blue;
}

.color-secondary-blue {
  color: $color-secondary-blue;
}

.link,
.color-link {
  color: $link;
}

.color-error {
  color: $text-error;
}

.color-info {
  color: $text-info;
}

.color-success {
  color: $text-success;
}

.color-grey {
  color: $text-grey;
}

.color-light-grey {
  color: $text-light-grey;
}

.color-white {
  color: $text-white;
}

.text-muted,
.muted {
  color: $text-grey;
}

.text-warning,
.text-error {
  color: $text-error;
}

.error,
.is-error {
  background: lighten($text-error, 25%);
  color: $text-error;
}

.text-success {
  color: $text-success;
}

// ie9 (.ie9)

.ie9 .gradient { filter: none; }

.ie9 [class*="gradient"] {
  filter: none;
}
