// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Modules -- Version: 0.4.0 - Compiled: #{timestamp()}
    ========================================================================== */

    .box-column {
      @extend %clearfix !optional;
      @include margin($margin / 2, 0, $margin);
      @include border-radius;
      @include box-shadow;
      overflow: auto;

      @if $support-legacy {
        .ie & {
          background-color: #f9f9f9;
        }

        .ie8 & {
          border: 1px solid #e1e1e1;
        }
      }
    }

    hr {
      @include margin($margin, 0);
      border: 0;
      border-top: 1px solid $text-light-grey;
      border-bottom: 1px solid $text-white;

      &.below-desktop {
        display: none;

        @include bp(bp-medium) {
          display: block;
          border: none;
        }

        @include bp(bp-small) {
          display: block;
          border-top: 1px solid $text-light-grey;
          border-bottom: 1px solid $text-white;
        }
      }

      &.blog {
        width: 50%;
        @include margin($margin, auto);
        border: none;
        text-align: center;

        &:after {
          content: '\f141';
          @include font-family($fontawesome);
          @include font-size(40);
          color: $color-light-grey;
        }
      }
    }

