// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Project Gallery -- Version: 1.9.0.0 - Compiled: #{timestamp()}
    ========================================================================== */

    .project-gallery {
      width: 100%;
      height: 168px;
      @include margin;
      background-size: 100% auto;
      overflow: hidden;

      &.card {
        height: auto;
        @include padding($padding);
      }

      img {
        width: 100%;
      }

      figcaption {
        position: absolute;
        top: 9em;
        width: 100%;
        @include padding(.5em);
        background-color: rgba(255,255,255,.65);
        color: $text;
        text-align: right;
      }
    }

    .projects {
      figcaption {
        @include font-size(24);
        text-align: center;
      }
    }
