// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Tables -- Version: 0.4.1- Compiled: #{timestamp()}
   ========================================================================== */

table {
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
}

th {
  @include padding(1em);
  background: $color-primary-green;
  color: $color-white;
  vertical-align: middle;
}

tr:nth-of-type(even) {
  background: $color-off-white;
}

td {
  @include padding(1em);
  vertical-align: top;
}
