---
layout: default
title: Blog
description: ""
parent: Blog
class: blog
banner: joy.jpg
banner-heading: "Terracare Talks"
banner-cta: ""
---

<div class="row">
  <div class="two-thirds">

    {% for post in paginator.posts %}
    <div class="box-column">
      <div class="blog-cap">
        <h4>
          <a href="{{ site.baseurl }}{{ site.prefix }}{{ post.url }}">{{ post.title }}<br>{{ post.sub-title }}</a>
        </h4>
        {% assign author = site.data.authors[post.author] %}
        {% if author %}
        <span>
          Written by <a href="mailto:{{ author.email }}">{{ author.name }}{% if author.title %} - {{ author.title }}{% endif %}</a>
        </span>
        {% endif %}
        <br>

        <strong>
          {{ post.date | date_to_string }}
        </strong>
      </div>

      <div class="blog-content">
        {{ post.content | truncatewords: 50 }}
      </div>
    </div>
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
      <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
      {% else %}
      <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}" class="next">Next</a>
      {% else %}
      <span class="next ">Next</span>
      {% endif %}
    </div>
  </div>

  <div class="third">
    <h3>Categories</h3>
    <ul class="tag-box inline">
      {% assign tags_list = site.categories %}
      {% if tags_list.first[0] == null %}
      {% for tag in tags_list %}
      <li><a href="categories/{{ tag }}">{{ tag | capitalize_all }} <span class="pill">{{ site.tags[tag].size }}</span></a></li>
      {% endfor %}
      {% else %}
      {% for tag in tags_list %}
      <li><a href="/categories/{{ tag[0] }}">{{ tag[0] | capitalize_all }} <span class="pill">{{ tag[1].size }}</span></a></li>
      {% endfor %}
      {% endif %}
      {% assign tags_list = nil %}
    </ul>

    <hr>

    <h3>In the News</h3>
    <ul class="vertical">
      <li>
        <a href="http://terracareassociates.com/assets/pdf/Cottonwood-Heights_11-2013.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://terracareassociates.com/assets/pdf/Cottonwood-Heights_11-2013.pdf']);">
          <span style="text-decoration: underline;">City of Cottonwood Heights Press Release</span>
        </a> &#8211; November 4, 2013 &#8211; Monday the City of Cottonwood Heights became the first city in the state of Utah to fully privatize public works service.
      </li>

      <li><a href="http://terracareassociates.com/assets/pdf/Solheim-Cup_PR.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://terracareassociates.com/assets/pdf/Solheim-Cup_PR.pdf']);"><span style="text-decoration: underline;">Solheim Cup Press Release</span></a> &#8211; August 23, 2013 &#8211; Last week Colorado welcomed the LPGA and Terracare partnered with the 2013 Solheim Cup to help develop the look and feel of the event</li>

      <li><a rel="attachment wp-att-3047" href="http://terracareassociates.com/who-we-are/in-the-news-2/attachment/cityoflivermorepr/" ><span style="text-decoration: underline;">City of Livermore Press Release</span></a> &#8211; May 30, 2013 &#8211; Terracare Associates contracts with City of Livermore, Calif., for streetside and other landscaping services</li>

      <li><a href="http://terracareassociates.com/assets/pdf/EnvironmentalImprovement-PR.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://terracareassociates.com/assets/pdf/EnvironmentalImprovement-PR.pdf']);"><span style="text-decoration: underline;">Environmental Improvement Award Press Release</span></a> &#8211; November 5, 2012 &#8211; Terracare Associates receives recognition at PLANET&#8217;s Environmental Improvement Awards ceremony in Louisville, Kentucky</li>

      <li><a href="http://terracareassociates.com/assets/pdf/Relay-For-Life-PR1.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://terracareassociates.com/assets/pdf/Relay-For-Life-PR1.pdf']);"><span style="text-decoration: underline;">Relay For Life Press Release</span></a> &#8211; August 23, 2012 &#8211; Terracare Associates&#8217; Vice President Justin Stewart and Project Manager Bill Winfield help organize and execute the Relay For Life in Centennial, Colorado</li>

      <li><a href="http://terracareassociates.com/assets/pdf/RenewalandrememberancePR.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://terracareassociates.com/assets/pdf/RenewalandrememberancePR.pdf']);"><span style="text-decoration: underline;">Renewal and Remembrance Press Release</span></a> &#8211; July 24, 2012 &#8211; Terracare Associates participated in PLANET&#8217;s Renewal &amp; Remembrance Volunteer Day at Arlington National Cemetery</li>

      <li><a href="http://terracareassociates.com/assets/pdf/Press-Release-Milpitas-CA.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://terracareassociates.com/assets/pdf/Press-Release-Milpitas-CA.pdf']);" target="_blank"><span style="text-decoration: underline;">City of Milpitas Press Release</span></a> &#8211; June 14, 2012 &#8211; Terracare Associates awarded parks maintenance contract for the City of Milpitas, California</li>

      <li><a href="http://terracareassociates.com/assets/pdf/SMDCC-finalist-PR1.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://terracareassociates.com/assets/pdf/SMDCC-finalist-PR1.pdf']);"><span style="text-decoration: underline;">South Metro Denver Chamber of Commerce Finalist Press Release</span></a> &#8211; June 4, 2012 &#8211; South Metro Denver Chamber of Commerce Honors Terracare Associates as Finalist in Awards Competition</li>

      <li><a title="Press Release_Cosumnes Park and Rec" href="http://terracareassociates.com/assets/pdf/Press-Release_Cosumnes-Park-and-Rec1.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://terracareassociates.com/assets/pdf/Press-Release_Cosumnes-Park-and-Rec1.pdf']);" target="_blank"><span style="text-decoration: underline;">Cosumnes Park and Recreation Press Release</span></a> &#8211; March 9, 2012 &#8211; Cosumnes Park and Recreation District Contracts with Terracare Associates to Provide Landscape Maintenance Services</li>

      <li><a title="2012 EIL Award Press Release" href="http://terracareassociates.com/assets/pdf/Press-Release_2012-EIL-Award.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://terracareassociates.com/assets/pdf/Press-Release_2012-EIL-Award.pdf']);" target="_blank"><span style="text-decoration: underline;">Excellence in Landscape Award Press Release</span></a> &#8211; February 24, 2012 &#8211; Terracare Associates Receives Excellence in Landscape Award</li>

      <li><a title="CDOT HOT Lanes Press Release" href="http://terracareassociates.com/assets/pdf/Press-Release_CDOT-HOT-Lanes.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://terracareassociates.com/assets/pdf/Press-Release_CDOT-HOT-Lanes.pdf']);" target="_blank"><span style="text-decoration: underline;">CDOT HOT Lanes Press Release</span></a> &#8211; November 7, 2011 &#8211; Colorado Department of Transportation (CDOT) Contracts with Terracare Associates to Provide Roadway Maintenance Services for Interstate 25 HOT Lanes through Denver</li>

      <li><a title="Cimarron Press Release" href="http://terracareassociates.com/assets/pdf/Cimarron-Press-Release-Final.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://terracareassociates.com/assets/pdf/Cimarron-Press-Release-Final.pdf']);" target="_blank"><span style="text-decoration: underline;">Cimarron Landscape Press Release</span></a> &#8211; September 1, 2011 - Terracare Associates acquires Cimarron Landscape of Sacramento</li>

      <li><a title="Castle Pines Press Release" href="http://terracareassociates.com/assets/pdf/2011/06/Castle-Pines-Press-Release.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://terracareassociates.com/assets/pdf/2011/06/Castle-Pines-Press-Release.pdf']);" target="_blank"><span style="text-decoration: underline;">Castle Pines Press Release</span></a> &#8211; July 18, 2011 - The City of Castle Pines Colorado Contracts with Terracare Associates to Provide Public Works Maintenance Services</li>

      <li><a title="Bowles Crossing Press Release" href="http://terracareassociates.com/assets/pdf/2011/07/Bowles-Crossing-Press-Release.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://terracareassociates.com/assets/pdf/2011/07/Bowles-Crossing-Press-Release.pdf']);" target="_blank"><span style="text-decoration: underline;">Bowles Crossing Press Release</span></a> &#8211; March 18, 2011 - Terracare Associates and ET Water Systems earns $14,881.78 water use rebate for Bowles Crossing Shopping Center in Littleton, Colorado.</li>

      <li><span style="color: #000000;"><strong>Newspaper Articles</strong></span></li>

      <li><a href="http://www.denverpost.com/business/frontpage/ci_16664240" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.denverpost.com']);" target="_blank"><span style="text-decoration: underline;">Columbine Memorial Holiday Gift </span></a>- Denver Post (November 21, 2010) &#8211; In lieu of doling out client gifts for the 2010 holiday season, Terracare Associates elected to spend their time and money on the year-long upkeep of the outdoor memorial that commemorates the tragic shootings at Columbine High School on April 20, 1999.</li>

      <li><span style="color: #000000;"><strong>Magazine Articles</strong></span></li>

      <li><a rel="attachment wp-att-3346" href="http://terracareassociates.com/who-we-are/in-the-news-2/attachment/july-smart-irrigation-month/" ><span style="text-decoration: underline;">July Smart Irrigation Month</span></a>- Irrigation and Green Industry Magazine (July 2013) Vice President Bill Horn discusses smart irrigation technology.</li>

      <li><a rel="attachment wp-att-3037" href="http://terracareassociates.com/who-we-are/in-the-news-2/attachment/sharpprinterlandcarenetwork-org_20130426_141029/" ><span style="text-decoration: underline;">Grounds Check—Vetting landscape service providers ensures they add value to site maintenance plans.</span></a> Today&#8217;s Facility Manager (April 2013) &#8211; Bill Horn, Vice President at Terracare Associates, discusses specifics to hiring a landscape service for facility managers.</li>

      <li><a href="http://terracareassociates.com/assets/pdf/What’s-Best-for-Our.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://terracareassociates.com/assets/pdf/What’s-Best-for-Our.pdf']);"><span style="text-decoration: underline;">What’s Best for Our Clients&#8230; and Planet</span></a> &#8211; Contractor Success Guide, Green Industry Pro (Volume 12) &#8211; Bill Horn, Vice President at Terracare Associates, discusses serving commercial clients and how sustainability is coming into play.</li>

      <li><a href="http://terracareassociates.com/assets/pdf/Strengthening-your-supply-chain_PLANET-JulyAug-2012.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://terracareassociates.com/assets/pdf/Strengthening-your-supply-chain_PLANET-JulyAug-2012.pdf']);" target="_blank"><span style="text-decoration: underline;">Strengthening Your Supply Chain Links</span></a> &#8211; PLANET Newsletter (July August 2012) &#8211; Bill Horn, Vice President at Terracare Associates, shares his thoughts on what makes a strong supply chain.</li>

      <li><a href="http://www.lawnandlandscape.com/ll0212-top-100-company-tips.aspx" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.lawnandlandscape.com']);" target="_blank"><span style="text-decoration: underline;">Tips from the Top</span></a> &#8211; Lawn and Landscape Magazine (March 2012) &#8211; Dean Murphy, President at Terracare Associates, talks about how he&#8217;s grown his company.</li>

      <li><a title="Sustainable Power" href="http://www.landscapemgmt-digital.com/landscapemgmt/201112#pg14" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.landscapemgmt-digital.com']);" target="_blank"><span style="text-decoration: underline;">Sustainable Power</span></a> &#8211; Landscape Management Magazine (December 2011) &#8211; Parry Webb, Director of Sales and Business Development comments on how Terracare Associates is putting more emphasis on being green.</li>

      <li><a href="http://terracareassociates.com/assets/pdf/2011/07/Sustainability-Begins-at-Home.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://terracareassociates.com/assets/pdf/2011/07/Sustainability-Begins-at-Home.pdf']);" target="_blank"><span style="text-decoration: underline;">Sustainability Begins at Home</span></a> &#8211; PLANET Advantage Magazine (Summer 2011) &#8211; Terracare Associates Vice President Bill Horn replaced &#8220;non-meaningful&#8221; turfgrass on his front yard with edible/ornamental plants.</li>

      <li><a href="http://www.turfmagazine.com/print-7038.aspx" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.turfmagazine.com']);" target="_blank"><span style="text-decoration: underline;">Dare to be Different</span></a> - Turf Magazine (June 2011) &#8211; Terracare Associates stands out with new approaches to landscape management.</li>

      <li><a href="http://www.landscapemgmt-digital.com/landscapemgmt/201105#pg64" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.landscapemgmt-digital.com']);" target="_blank"><span style="text-decoration: underline;">Top Trends in Landscape Management</span></a> &#8211; Landscape Management Magazine (May 2011) &#8211; Terracare Associates Executive Vice President, Todd Williams talks about current trends in landscape management.</li>

      <li><a href="http://www.myvirtualpaper.com/doc/110mag/march2011_110mag/2011022801/53.html#50" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.myvirtualpaper.com']);" target="_blank"><span style="text-decoration: underline;">Caring for Our Planet</span></a> &#8211; 110 Magazine (March 2011) &#8211; Terracare Associates Vice President Bill Horn describes the motivations that pushed him into the business of restoring land to it&#8217;s original condition.</li>

      <li><a href="http://terracareassociates.com/assets/pdf/2011/06/City-of-Lone-Tree-LED-Replacement.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://terracareassociates.com/assets/pdf/2011/06/City-of-Lone-Tree-LED-Replacement.pdf']);" target="_blank"><span style="text-decoration: underline;">City of Lone Tree LED Replacement</span></a> - Colorado Public Works Journal (January 2011) &#8211; Terracare Associates is recognized for traffic signal efficiency project for the City of Lone Tree, Colorado.</li>

      <li><a href="http://www.landcarenetwork.org/membership/profile/Feb2011MemberProfile.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://www.landcarenetwork.org/membership/profile/Feb2011MemberProfile.pdf']);" target="_blank"><span style="text-decoration: underline;">Roots Go Deep</span></a> &#8211; PLANET Advantage Magazine (Summer 2010) &#8211; Company profile of Terracare Associates.</li>

      <li><strong> </strong></li>

      <li><span style="color: #000000;"><strong>Online</strong></span></li>

      <li><span style="text-decoration: underline;"><a href="http://www.igin.com/npaperLogin.php" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.igin.com']);">Safety Makes Cents</a></span> &#8211; Irrigation &amp; Green Industry Magazine (June 2013) &#8211; Terracare Associates Vice President Bill Horn discusses making safety a priority.</li>

      <li><a href="http://landscapemanagement.net/2013/06/14/13-big-ideas-any-size-company-can-learn-from-for-2013/" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://landscapemanagement.net']);" target="_blank"><span style="text-decoration: underline;">13 Big Ideas </span></a> &#8211; landscapemanagement.net (June 14, 2013) &#8211; Terracare Associates President Dean Murphy discusses how communication is used to grow client relationships and service.</li>

      <li><a href="http://comealiveoutside.com/webinar-series/#inspiration" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://comealiveoutside.com']);"><span style="text-decoration: underline;">The Inspiration Found Me &#8211; comealiveoutside.com</span></a> (May 6, 2013) - Terracare Associates Vice President Bill Horn shares his inspiration with the Come Alive Outside crew.</li>

      <li><a title="thepress.net" href="http://www.thepress.net/pages/full_story/push?article-Freedom+students+compete+for+grant%20&amp;id=21045975" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.thepress.net']);" target="_blank"><span style="text-decoration: underline;">Freedom Students Compete for Grant - http://www.thepress.net/</span></a> (December 6, 2012) &#8211; Terracare Associates helps local high school with a community garden.</li>

      <li><a title="John Williams helps Boys and Girls Club of Sacramento" href="http://blog.debugthemyth.com/tag/sacramento/" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://blog.debugthemyth.com']);" target="_blank"><span style="text-decoration: underline;">Team Up to Clean Up – The Boys &amp; Girls Club of Greater Sacramento</span></a> &#8211; www.debugthemyth.com (June 2011) &#8211; Terracare Associates&#8217; John Williams helps members of the Boys &amp; Girls Club freshen the club’s outdoor spaces.</li>

      <li><a title="Quinton Guenther String Trimmer Test" href="http://www.thisoldhouse.com/toh/photos/0,,20369576,00.html" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.thisoldhouse.com']);" target="_blank"><span style="text-decoration: underline;">Tool Test: Multihead String Trimmers</span></a> &#8211; This Old House Magazine (Summer 2011) &#8211; Quinton Guenther &#8211; Enhancement Manager for Terracare Associates tests five string trimmers.</li>
    </ul>


  </div>
</div>
