---
layout: default
title: Terracare Talks
description: ""
parent: Blog
sidebar: "Blog"
class: blog
banner: windcrest_flowers-2.jpg
banner-heading: "Blog"
banner-cta: ""
---

<div class="row">
  <div class="two-thirds">
    <h3>Blog</h3>

    <hr>

    {% for post in paginator.posts %}
    <div class="box-column">
      <div class="blog-cap">
        <strong class="right">
          {{ post.date | date_to_string }}
        </strong>
        <h5>
          <a href="{{ site.prefix }}{{ post.url }}">{{ post.title }}<br>{{ post.sub-title }}</a>
        </h5>
        {% assign author = site.data.authors[post.author] %}
        {% if author %}
        <span>
          Written by <a href="mailto:{{ author.email }}">{{ author.name }}{% if author.title %} - {{ author.title }}{% endif %}</a>
        </span>
        {% endif %}
      </div>

      <div class="blog-content">
        <a href="{{ site.prefix }}{{ post.url }}">
          {{ post.content |  strip_html | truncatewords: 50 }}
        </a>

        <hr>

        <ul class="horizontal">
          {% assign tags_list = post.categories %}
          {% if tags_list.first[0] == null %}
          {% for tag in tags_list %}
          <li><a href="categories/{{ tag }}">{{ tag | capitalize }}&nbsp;&nbsp;&nbsp;</a></li>
          {% if size > 1 %},{% endif %}
          {% endfor %}
          {% endif %}
          {% assign tags_list = nil %}
        </ul>
      </div>
    </div>
    {% endfor %}

  </div>

  <div class="third">
    <h3>Signup for Our Newsletter</h3>
    <div class="cta-container">
      <form action="//forms.brace.io/web@myterracare.com" method="POST">
        <input type="hidden" name="form" value="Newsletter Signup">
        <!-- Email Address -->
        <div class="row">
          <div class="formitem email">
            <label for="email" class="required">Email Address:</label>
            <input id="email" type="email" name="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" autocomplete="email" placeholder="milk@cereal.com" required>
          </div>
        </div>
        <!-- .Email Address -->

        <!-- Gotcha -->
        <input type="text" name="_gotcha" style="display:none">
        <!-- .Gotcha -->

        <div class="formitem">
          <button class="btn btn-primary" type="submit" name="submit" value="submit">
            <span>Subscribe</span>
          </button>
        </div>
      </form>
    </div>

    <hr>

    <h4>Categories</h4>
    <ul class="tag-box inline">
      {% assign tags_list = site.categories %}
      {% if tags_list.first[0] == null %}
      {% for tag in tags_list %}
      <li><a href="categories/{{ tag }}">{{ tag | capitalize_all }} <span class="pill">{{ site.tags[tag].size }}</span></a></li>
      {% endfor %}
      {% else %}
      {% for tag in tags_list %}
      <li><a href="/categories/{{ tag[0] }}">{{ tag[0] | capitalize_all }} <span class="pill">{{ tag[1].size }}</span></a></li>
      {% endfor %}
      {% endif %}
      {% assign tags_list = nil %}
    </ul>

  </div>
</div>

<!-- Artificially end content and container -->
</div>
</div>

<!-- Modal Popup -->
<div class="modal">

  <div id="signUp" class="modal-container">
    <div class="modal-close"></div>
    <div id="modal-content">

      <div class="modal-close"></div>
      <div class="modal-header">
        <span class="h4">Sign-Up for our Newsletter</span><br>
      </div>

      <div class="modal-body">
        <h5>
          SignUp for Our Newsletter
        </h5>
        <form action="//forms.brace.io/web@myterracare.com" method="POST">
          <input type="hidden" name="form" value="Newsletter Signup">
          <!-- Email Address -->
          <div class="row">
            <div class="formitem email">
              <label for="email" class="required">Email Address:</label>
              <input id="email" type="email" name="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" autocomplete="email" placeholder="milk@cereal.com" required>
            </div>
          </div>
          <!-- .Email Address -->

          <!-- Gotcha -->
          <input type="text" name="_gotcha" style="display:none">
          <!-- .Gotcha -->

          <div class="formitem">
            <button class="btn btn-primary" type="submit" name="submit" value="submit">
              <span>Subscribe</span>
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="modal-footer">

    </div>

  </div>
</div>
</div>
<!-- ./ Modal Popup -->
