{% include head.html %}

<div class="banner">
  <div class="content">
    <div class="container">

      <div class="half">
        <a class="logo" href="{{site.baseurl}}/">
          <span class="h3">{{site.name}}</span>
        </a>
      </div>

      <div class="half">
        <div class="text-right">
          <a class="btn button-primary mobile-full" href="/terracare/contact-us">Contact Us</a>
          <a class="btn button-primary mobile-full" href="/terracare/request-a-bid">Request a Bid</a>
        </div>
      </div>

    </div>
  </div>
</div>

  {% include nav.html %}
  <div class="image-content-panel panel image-focus-3" style="background-image: url(/terracare/images/{{ page.banner }})" alt="{{ page.alt }}">
    <div class="container">

      <h1>{{ page.banner-heading }}</h1>
      <p class="lede">{{ page.banner-sub-heading }}</p>

      {% if page.banner-cta != '' %}
      <a class="btn button-primary mobile-full" href="{{ page.banner-cta-url }}">{{ page.banner-cta }}</a>
      {% endif %}
    </div>
  </div>

  {% include content.html %}

    {{ content }}

	{% include end_content.html %}
	{% include footer.html %}
{% include foot.html %}
