{% include head.html %}

{% include banner.html %}

{% include nav.html %}

<div id="carousel" class="owl-carousel">
  <div>
    <div class="image-content-panel panel image-focus-3" style="background-image: url(/terracare/images/banners/grader.jpg)" alt="{{ page.alt }}">
      <div class="container">

        <h1>{{ page.title }}</h1>
        <p class="lede">{{ page.banner-sub-heading }}</p>

        {% if page.banner-cta != '' %}
        <a class="btn button-primary mobile-full" href="{{ page.banner-cta-url }}">{{ page.banner-cta }}</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div>
    <div class="image-content-panel panel image-focus-3" style="background-image: url(/terracare/images/banners/slider_01.jpg)" alt="{{ page.alt }}">
      <div class="container">

        <h1>{{ page.title }}</h1>
        <p class="lede">{{ page.banner-sub-heading }}</p>

        {% if page.banner-cta != '' %}
        <a class="btn button-primary mobile-full" href="{{ page.banner-cta-url }}">{{ page.banner-cta }}</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div>
    <div class="image-content-panel panel image-focus-3" style="background-image: url(/terracare/images/banners/slider_02.jpg)" alt="{{ page.alt }}">
      <div class="container">

        <h1>{{ page.title }}</h1>
        <p class="lede">{{ page.banner-sub-heading }}</p>

        {% if page.banner-cta != '' %}
        <a class="btn button-primary mobile-full" href="{{ page.banner-cta-url }}">{{ page.banner-cta }}</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div>
    <div class="image-content-panel panel image-focus-3" style="background-image: url(/terracare/images/banners/joy.jpg)" alt="{{ page.alt }}">
      <div class="container">

        <h1>{{ page.title }}</h1>
        <p class="lede">{{ page.banner-sub-heading }}</p>

        {% if page.banner-cta != '' %}
        <a class="btn button-primary mobile-full" href="{{ page.banner-cta-url }}">{{ page.banner-cta }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% include content.html %}

{{ content }}

{% include end_content.html %}
{% include footer.html %}
{% include foot.html %}
