---
layout: compress
---
{% include head.html %}

{% include banner.html %}

{% include nav.html %}

<div class="excitement">
  <div class="slider main-carousel">
    {% for banner in site.data.banners.banner %}
    <div>
      <div class="image-content-panel">
        <img src="images/banners/{{ banner.img }}" alt="{{ banner.alt }}">
        <div class="feature">
          <div class="container">
            <h1>{{ banner.title }}</h1>
            <span class="left">{{ banner.text }}</span>
            <span class="right">{{ banner.location }}</span>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="container">
    <div class="row callouts">

      <div class="third">
        <a href="{{ site.baseurl }}/careers">
          <div class="callout">
            <div class="callout-message">
              <figure>
                <img src="{{ site.baseurl }}/images/banners/Career.JPG" alt="A Terracare crew discussing a project">
              </figure>
            </div>
            <div class="callout-box">
              <h5>Careers</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="third">
        <a href="{{ site.baseurl }}/news">
          <div class="callout">
            <div class="callout-message">
              <figure>
                <img src="{{ site.baseurl }}/images/banners/Services.JPG" alt="A Terracare crew-member on a stand-behind mower">
              </figure>
            </div>
            <div class="callout-box">
              <h5>Service News</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="third">
        <a href="{{ site.baseurl }}/blog">
          <div class="callout">
            <div class="callout-message">
              <figure>
                <img src="{{ site.baseurl }}/images/banners/Who_We_Work.jpg" alt="">
              </figure>
            </div>
            <div class="callout-box">
              <h5>Blog</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

{% include content.html %}

{{ content }}

{% include end_content.html %}
{% include footer.html %}
{% include foot.html %}
