---
layout: compress
---
{% include head.html %}

{% include banner.html %}

{% include nav.html %}

<div class="excitement">
  <div class="slider">
    <div>
      <div class="image-content-panel">
        <img src="images/banners/at&t.jpg" alt="AT&amp;T Corporate Complex - Commercial Landscape">
        <div class="feature">
          <div class="container">
            <h1>COMMERCIAL LANDSCAPE</h1>
            <span class="left">Absolute customer confidence everyday</span>
            <span class="right">AT&amp;T Corporate Complex, California</span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="image-content-panel">
        <img src="images/banners/arapahoe_road.jpg" alt="Arapahoe Road - Public Infrastructure">
        <div class="feature">
          <div class="container">
            <h1>PUBLIC INFRASTRUCTURE</h1>
            <span class="left">A culture of safety</span>
            <span class="ight">Centennial, Colorado</span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="image-content-panel">
        <img src="images/banners/Victoria_by_the_Bay.jpg" alt="Victoria by the Bay, California - Public Landscape">
        <div class="feature">
          <div class="container">
            <h1>PUBLIC LANSDCAPE</h1>
            <span class="left">Public-private partnerships</span>
            <span class="right">City of Oakley, California</span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="image-content-panel">
        <img src="images/banners/TMA_with_bee.jpg" alt="Transportation Management Association - Responsibility">
        <div class="feature">
          <div class="container">
            <h1>RESPONSIBILITY</h1>
            <span class="left">Investing in safety, environment &amp;  our community</span>
            <span class="right">Transportation Management Association</span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="image-content-panel">
        <img src="images/banners/snow_removal.jpg" alt="Snow Plows - Snow Removal">
        <div class="feature">
          <div class="container">
            <h1>SNOW REMOVAL</h1>
            <span class="left">Managing through empowering teams</span>
            <span class="right">Denver Tech Center, Colorado</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row callouts">
      <div class="two-thirds">
        <div class="row">
          <div class="third">
            <div class="callout">
              <div class="callout-message">
                <figure>
                  <img src="" alt="">
                  <figcaption>
                    I'm a figcaption
                  </figcaption>
                </figure>
              </div>
              <div class="callout-box">
                <h5>Careers</h5>
              </div>
            </div>
          </div>
          <div class="third">
            <div class="callout">
              <div class="callout-message">
                <figure>
                  <img src="" alt="">
                  <figcaption>
                    I'm a figcaption
                  </figcaption>
                </figure>
              </div>
              <div class="callout-box">
                <h5>Service News</h5>
              </div>
            </div>
          </div>
          <div class="third">
            <div class="callout">
              <div class="callout-message">
                <figure>
                  <img src="" alt="">
                  <figcaption>
                    I'm a figcaption
                  </figcaption>
                </figure>
              </div>
              <div class="callout-box">
                <h5>Blog</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="third">

      </div>
    </div>
  </div>

</div>

{% include content.html %}

{{ content }}

{% include end_content.html %}
{% include footer.html %}
{% include foot.html %}
