---
layout: compress
---
{% include head.html %}

{% include banner.html %}

{% include nav.html %}

<div class="excitement">
  {% if page.class == 'categories' %}
  <div class="image-content-panel panel image-focus-3" style="background-image: url(/images/banners/category-{{ page.category | replace: ' ', '_' }}.jpg)" alt="{{ page.alt }}">
    <div class="feature">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <p>{{ page.banner-heading }}</p>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% include content.html %}

{% if page.class != 'categories' %}
<br><br>
<h2>{{ page.title }}</h2>
<hr>
{% endif %}

{{ content }}

{% if page.class != 'categories' %}
{% if page.comments %}
<hr>

<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = "{{ site.disqus_name }}";

  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
{% endif %}

      {% include end_content.html %}
      {% include footer.html %}

      <div class="modal-overlay"></div>

      {% include foot.html %}
