{% include head.html %}

{% include banner.html %}

{% include nav.html %}

<div class="excitement">
	{% if page.class == "teams" %}
	<div class="image-row">
		<div class="row marginless">
			<div class="seventh">
				<figure>
					<a id="1" class="modal-button">
						<img class="image-swap" id="image4" src="/images/employees/justin.jpg" alt="Justin">
					</a>
				</figure>
			</div>

			<div class="seventh">
				<figure>
					<a id="2" class="modal-button">
						<img class="image-swap" id="image5" src="/images/employees/brent.jpg" alt="Brent Trujillo">
					</a>
				</figure>
			</div>

			<div class="seventh">
				<figure>
					<a id="3" class="modal-button">
						<img class="image-swap" id="image3" src="/images/employees/bill.jpg" alt="Bill Horn">
					</a>
				</figure>
			</div>

			<div class="seventh">
				<figure>
					<a id="4" class="modal-button">
						<img class="image-swap" id="image1" src="/images/employees/dean.jpg" alt="Dean Murphy">
					</a>
				</figure>
			</div>

			<div class="seventh">
				<figure>
					<a id="5" class="modal-button">
						<img class="image-swap" id="image2" src="/images/employees/jeff.jpg" alt="Jeff">
					</a>
				</figure>
			</div>

			<div class="seventh">
				<figure>
					<a id="6" class="modal-button">
						<img class="image-swap" id="image6" src="/images/employees/bruce.jpg" alt="Bruce">
					</a>
				</figure>
			</div>

			<div class="seventh">
				<figure>
					<a id="7" class="modal-button">
						<img class="image-swap" id="image7" src="/images/employees/ty.jpg" alt="Ty">
					</a>
				</figure>
			</div>
		</div>
	</div>



			{% else %}
			<div class="image-content-panel panel image-focus-3" style="background-image: url(/images/banners/{{ page.banner }})" alt="{{ page.alt }}">
				<div class="feature">
					<div class="container">
						<h1>{{ page.title }}</h1>
						<p>{{ page.banner-heading }}</p>
					</div>
				</div>
			</div>
			{% endif %}
		</div>

		{% include content.html %}

		<!-- Add Spanish Page button -->
		{% if page.espanol != null %}
		<a href="{{ page.espanol_url }}" class="btn btn-primary mobile-full">{{ page.espanol_redirect }} <i class="fa fa-angle-right"></i></a>
		<hr>
		{% endif %}
		<!-- .Spanish -->

		{{ content }}

		{% include end_content.html %}
		{% include footer.html %}

		<div class="modal-overlay"></div>

		{% include foot.html %}
